@use "@material/ripple";
@use '@material/ripple/mdc-ripple';
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/button-group";

$raised-6dp: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);

.btn:not(.overflow-visible) {
  overflow: hidden;
  @include ripple.surface;
  @include ripple.radius-bounded;
  @include ripple.states-base-color(#fff);
  @include ripple.states-opacities((hover: .1, focus: .15, press: .2));
}

// Add buttom-text-variant
@each $color, $value in $theme-colors {
  .btn-text-#{$color} {
    @include button-text-variant($value);
  }
}

// Add material colors
@each $color, $value in $material-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }

  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }

  .btn-text-#{$color} {
    @include button-text-variant($value);
  }
}

.btn:not([class*="btn-outline-"], [class*="btn-text-"]) {
  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus,
  .show > &.dropdown-toggle {
    box-shadow: $raised-6dp;
  }
}

.btn {
  position: relative;
  vertical-align: middle;

  &.btn-link {
    box-shadow: none !important; /* stylelint-disable-line declaration-no-important */
  }

  &.btn-fab {
    width: 56px;
    height: 56px;
    border-radius: 100%;
  }

  &.mini-fab {
    width: 40px;
    height: 40px;
    padding: 6px;
  }

  &.leaf-fab {
    border-radius: 0;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }

  &.leaf-fab-inverted {
    border-radius: 0;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  .fas,
  .material-icons {
    vertical-align: middle;
  }

  &.disabled,
  &:disabled {
    color: rgba(0, 0, 0, .37);
    background-color: rgba(0, 0, 0, .12);
    box-shadow: none;
  }
}

[class*="btn-outline-"],
[class*="btn-text-"] {
  background-color: transparent;

  &.disabled,
  &:disabled {
    color: rgba(0, 0, 0, .37);
    background-color: transparent;
  }
}

[class*="btn-outline-"] {
  padding: 5px 14px;
  border: 1px solid;

  &.disabled,
  &:disabled {
    border-color: rgba(0, 0, 0, .37);
  }
}

[class*="btn-text-"], [class*="btn-outline-"] {
  &:active,
  &.active,
  &:hover,
  &:focus,
  &.focus,
  .show > &.dropdown-toggle {
    box-shadow: none;
  }

  &:not(:disabled):not(.disabled) {
    &:active,
    &.active {
      box-shadow: none;

      &:focus {
        box-shadow: none;
      }
    }
  }
}

.m-file-input {
  position: relative;
  display: inline-block;

  input[type="file"] { /* stylelint-disable-line selector-no-qualifying-type */
    display: none;
  }

  .files {
    display: inline-flex;
    max-width: 200px;
    padding: 7px 10px;
    margin-bottom: 0;
    white-space: nowrap;
  }
}
