@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/button-group";

.btn:not([class*="btn-outline-"]) {
  &:hover {
    @include box-shadow($btn-hover-box-shadow);
  }

  &.disabled,
  &:disabled {
    background-color: rgba(0, 0, 0, .12);
  }
}

.btn {
  --mdc-ripple-hover-opacity: 0;
  --mdc-ripple-focus-opacity: 0;
  --mdc-ripple-press-opacity: 0.2;

  position: relative;
  vertical-align: middle;

  &.btn-fab {
    width: 56px;
    height: 56px;
    border-radius: 100%;
  }

  &.mini-fab {
    width: 40px;
    height: 40px;
    padding: 6px;
  }

  &.leaf-fab {
    border-radius: 0;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }

  &.leaf-fab-inverted {
    border-radius: 0;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  .fas,
  .material-icons {
    vertical-align: middle;
  }

  &.disabled,
  &:disabled {
    color: rgba(0, 0, 0, .37);
    @include box-shadow(none);
  }
}

[class*="btn-outline-"] {
  background-color: transparent;
  padding: 5px 14px;
  border: 1px solid;
  @include box-shadow(none !important);
}
