.drawer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1031;
  display: flex;
  flex-direction: column;
  width: $drawer-width;
  min-height: 100vh;
  background: #fff;
  transition: transform .2s cubic-bezier(.4, 0, .2, 1) .1s;
  transform: translateX(-100%);

  &.auto-hide {
    position: relative;
    top: auto;
    z-index: 1029;
    flex: 0 0 $drawer-width;
    min-width: $drawer-width;
    height: auto;
    transform: none;

    ~ .drawer-toggler,
    .btn-close {
      display: none;
    }

    .drawer-header, .drawer-body {
      position: fixed;
    }
  }

  .drawer-header {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: inherit;
    padding: 0.5rem .75rem;

    .drawer-brand {
      display: inline-block;
      flex-grow: 1;
      line-height: inherit;
      padding-top: $navbar-brand-padding-y;
      padding-bottom: $navbar-brand-padding-y;
      margin-right: $navbar-brand-margin-end;
      @include font-size($navbar-brand-font-size);
      text-decoration: if($link-decoration == none, null, none);
      white-space: nowrap;

      &:hover,
      &:focus {
        text-decoration: if($link-hover-decoration == underline, none, null);
      }
    }
  }

  .drawer-body {
    flex-grow: 1;
    overflow-y: auto;
    width: inherit;
  }

  .nav {
    width: 100%;
  }

  .m-fixed {
    position: fixed;
    width: inherit;
    height: 100%;
    overflow: auto;
  }

  [data-bs-toggle="collapse"] {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::after {
      width: 1.25em;
      line-height: 0;
      transition: transform 200ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &[aria-expanded="true"] {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
}

.drawer-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: rgba(0, 0, 0, .5);
}

.drawer-toggler {
  padding: $drawer-toggler-padding-y $drawer-toggler-padding-x;
  @include font-size($navbar-toggler-font-size);
  line-height: 1;
  background-color: transparent;
  border: $border-width solid transparent;
  @include border-radius($drawer-toggler-border-radius);
  @include transition($navbar-toggler-transition);

  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 $navbar-toggler-focus-width;
  }
}

.drawer-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: escape-svg($navbar-dark-drawer-toggler-icon-bg);
  pointer-events: none;
}

.drawer-light {
  .nav-link {
    color: $navbar-light-color;

    &:hover,
    &:focus {
      color: $navbar-light-hover-color;
      background-color: $drawer-light-link-hover-bg;
    }

    &.disabled {
      color: $navbar-light-disabled-color;
    }
  }

  .show > .nav-link,
  .nav-link.active {
    color: $navbar-light-active-color;
  }

  [data-bs-toggle="collapse"] {
    &::after {
      content: escape-svg($navbar-light-toggler-icon-bg);
    }
  }
}

.drawer-dark {
  .nav-link {
    color: $navbar-dark-color;

    &:hover,
    &:focus {
      color: $navbar-dark-hover-color;
      background-color: $drawer-dark-link-hover-bg;
    }

    &.disabled {
      color: $navbar-dark-disabled-color;
    }
  }

  .show > .nav-link,
  .nav-link.active {
    color: $navbar-dark-active-color;
  }

  [data-bs-toggle="collapse"] {
    &::after {
      content: escape-svg($navbar-dark-toggler-icon-bg);
    }
  }
}
