.image-list {
  --image-list-padding: #{$image-list-padding};
  --image-list-item-margin: #{$image-list-item-margin};
  --image-list-masonry-column-gap: #{$image-list-masonry-column-gap};
  --image-list-item-width: #{$image-list-item-width};

  display: flex;
  flex-wrap: wrap;
  padding: var(--image-list-padding);

  .image-list-item {
    flex-shrink: 0;
    margin: var(--image-list-item-margin);
    list-style-type: none;
    box-sizing: border-box;
    width: var(--image-list-item-width);

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &.masonry {
    display: block;
    padding: var(--image-list-padding);
    column-count: auto;
    column-gap: var(--image-list-masonry-column-gap);
    column-width: var(--image-list-item-width);

    .image-list-item {
      margin: 0 0 var(--image-list-item-margin);
      break-inside: avoid-column;
    }
  }
}
