@import "node_modules/bootstrap/scss/list-group";

.list-group-item {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-top: 0;
  border-bottom: 0;

  &:first-child {
    border-top: 1px solid map-get($material-colors, "gray-300");
  }
  &:last-child {
    border-bottom: 1px solid map-get($material-colors, "gray-300");
  }
  &:hover {
    background-color: map-get($material-colors, "gray-100");
  }

  .list-item,
  .list-prepend,
  .list-append {
    display: inline-block;
  }

  .list-prepend {
    display: flex;
    padding-right: 15px;
  }

  .list-append {
    display: flex;
    padding-left: 15px;
    margin-left: auto;
  }

  &.list-divider {
    height: 0;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid map-get($material-colors, "gray-300");
  }

  .primary-text,
  .secondary-text {
    display: block;
  }
  .secondary-text {
    font-size: .9rem;
  }
}

.list-group-item-action {
  position: relative;
}
