// Re-assigned maps
//
// Placed here so that others can override the default Sass maps and see automatic updates to utilities and more.

// scss-docs-start theme-colors-rgb
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value") !default;
// scss-docs-end theme-colors-rgb

$theme-colors-hover: (
  "primary": $primary-hover,
  "secondary": $secondary-hover,
  "tertiary": $tertiary-hover,
  "success": $success-hover,
  "info": $info-hover,
  "warning": $warning-hover,
  "danger": $danger-hover,
  "light": $light-hover,
  "dark": $dark-hover,
) !default;

$theme-colors-active: (
  "primary": $primary-active,
  "secondary": $secondary-active,
  "tertiary": $tertiary-active,
  "success": $success-active,
  "info": $info-active,
  "warning": $warning-active,
  "danger": $danger-active,
  "light": $light-active,
  "dark": $dark-active,
) !default;

$theme-colors-subtle: (
  "primary": $primary-subtle,
  "secondary": $secondary-subtle,
  "tertiary": $tertiary-subtle,
  "success": $success-subtle,
  "info": $info-subtle,
  "warning": $warning-subtle,
  "danger": $danger-subtle,
  "light": $light-subtle,
  "dark": $dark-subtle,
) !default;

$theme-colors-subtle-hover: (
  "primary": $primary-subtle-hover,
  "secondary": $secondary-subtle-hover,
  "tertiary": $tertiary-subtle-hover,
  "success": $success-subtle-hover,
  "info": $info-subtle-hover,
  "warning": $warning-subtle-hover,
  "danger": $danger-subtle-hover,
  "light": $light-subtle-hover,
  "dark": $dark-subtle-hover,
) !default;

$theme-colors-subtle-active: (
  "primary": $primary-subtle-active,
  "secondary": $secondary-subtle-active,
  "tertiary": $tertiary-subtle-active,
  "success": $success-subtle-active,
  "info": $info-subtle-active,
  "warning": $warning-subtle-active,
  "danger": $danger-subtle-active,
  "light": $light-subtle-active,
  "dark": $dark-subtle-active,
) !default;

$theme-colors-text: (
  "primary": $primary-text,
  "secondary": $secondary-text,
  "tertiary": $tertiary-text,
  "success": $success-text,
  "info": $info-text,
  "warning": $warning-text,
  "danger": $danger-text,
  "light": $light-text,
  "dark": $dark-text,
) !default;

$theme-colors-text-hover: (
  "primary": $primary-text-hover,
  "secondary": $secondary-text-hover,
  "tertiary": $tertiary-text-hover,
  "success": $success-text-hover,
  "info": $info-text-hover,
  "warning": $warning-text-hover,
  "danger": $danger-text-hover,
  "light": $light-text-hover,
  "dark": $dark-text-hover,
) !default;

$theme-colors-border-subtle: (
  "primary": $primary-border-subtle,
  "secondary": $secondary-border-subtle,
  "tertiary": $tertiary-border-subtle,
  "success": $success-border-subtle,
  "info": $info-border-subtle,
  "warning": $warning-border-subtle,
  "danger": $danger-border-subtle,
  "light": $light-border-subtle,
  "dark": $dark-border-subtle,
) !default;

// Utilities maps
//
// Extends the default `$theme-colors` maps to help create our utilities.

// Come v6, we'll de-dupe these variables. Until then, for backward compatibility, we keep them to reassign.
// scss-docs-start utilities-colors
$utilities-colors: $theme-colors-rgb !default;
// scss-docs-end utilities-colors

// scss-docs-start utilities-text-colors
$utilities-text: map-merge(
  $utilities-colors,
  (
    "black": to-rgb($black),
    "white": to-rgb($white),
    "body": to-rgb($body-color)
  )
) !default;
$utilities-text-colors: map-loop($utilities-text, rgba-css-var, "$key", "text") !default;

$utilities-text-emphasis-colors: (
  "primary-emphasis": var(--#{$prefix}primary-text),
  "secondary-emphasis": var(--#{$prefix}secondary-text),
  "tertiary-emphasis": var(--#{$prefix}tertiary-text),
  "success-emphasis": var(--#{$prefix}success-text),
  "info-emphasis": var(--#{$prefix}info-text),
  "warning-emphasis": var(--#{$prefix}warning-text),
  "danger-emphasis": var(--#{$prefix}danger-text),
  "light-emphasis": var(--#{$prefix}light-text),
  "dark-emphasis": var(--#{$prefix}dark-text)
) !default;
// scss-docs-end utilities-text-colors

// scss-docs-start utilities-bg-colors
$utilities-bg: map-merge(
  $utilities-colors,
  (
    "black": to-rgb($black),
    "white": to-rgb($white),
    "body": to-rgb($body-bg)
  )
) !default;
$utilities-bg-colors: map-loop($utilities-bg, rgba-css-var, "$key", "bg") !default;

$utilities-subtle: (
  "primary-subtle": var(--#{$prefix}primary-subtle),
  "secondary-subtle": var(--#{$prefix}secondary-subtle),
  "tertiary-subtle": var(--#{$prefix}tertiary-subtle),
  "success-subtle": var(--#{$prefix}success-subtle),
  "info-subtle": var(--#{$prefix}info-subtle),
  "warning-subtle": var(--#{$prefix}warning-subtle),
  "danger-subtle": var(--#{$prefix}danger-subtle),
  "light-subtle": var(--#{$prefix}light-subtle),
  "dark-subtle": var(--#{$prefix}dark-subtle)
) !default;
// $utilities-subtle-colors: map-loop($utilities-subtle, rgba-css-var, "$key", "bg") !default;
// scss-docs-end utilities-bg-colors

// scss-docs-start utilities-border-colors
$utilities-border: map-merge(
  $utilities-colors,
  (
    "white": to-rgb($white)
  )
) !default;
$utilities-border-colors: map-loop($utilities-border, rgba-css-var, "$key", "border") !default;

$utilities-border-subtle: (
  "primary-subtle": var(--#{$prefix}primary-border-subtle),
  "secondary-subtle": var(--#{$prefix}secondary-border-subtle),
  "tertiary-subtle": var(--#{$prefix}tertiary-border-subtle),
  "success-subtle": var(--#{$prefix}success-border-subtle),
  "info-subtle": var(--#{$prefix}info-border-subtle),
  "warning-subtle": var(--#{$prefix}warning-border-subtle),
  "danger-subtle": var(--#{$prefix}danger-border-subtle),
  "light-subtle": var(--#{$prefix}light-border-subtle),
  "dark-subtle": var(--#{$prefix}dark-border-subtle)
) !default;
// scss-docs-end utilities-border-colors

$negative-spacers: if($enable-negative-margins, negativify-map($spacers), null) !default;

$gutters: $spacers !default;
