// Re-assigned maps
//
// Placed here so that others can override the default Sass maps and see automatic updates to utilities and more.

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "tertiary":   $tertiary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
) !default;

$theme-colors-hover: (
  "primary": $primary-hover,
  "secondary": $secondary-hover,
  "tertiary": $tertiary-hover,
  "success": $success-hover,
  "info": $info-hover,
  "warning": $warning-hover,
  "danger": $danger-hover,
  "light": $light-hover,
  "dark": $dark-hover,
) !default;

$theme-colors-active: (
  "primary": $primary-active,
  "secondary": $secondary-active,
  "tertiary": $tertiary-active,
  "success": $success-active,
  "info": $info-active,
  "warning": $warning-active,
  "danger": $danger-active,
  "light": $light-active,
  "dark": $dark-active,
) !default;
// scss-docs-end theme-colors-map

// scss-docs-start theme-colors-rgb
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value") !default;
// scss-docs-end theme-colors-rgb

$theme-colors-subtle: (
  "primary": $primary-subtle,
  "secondary": $secondary-subtle,
  "tertiary": $tertiary-subtle,
  "success": $success-subtle,
  "info": $info-subtle,
  "warning": $warning-subtle,
  "danger": $danger-subtle,
  "light": $light-subtle,
  "dark": $dark-subtle,
) !default;

$theme-colors-subtle-hover: (
  "primary": $primary-subtle-hover,
  "secondary": $secondary-subtle-hover,
  "tertiary": $tertiary-subtle-hover,
  "success": $success-subtle-hover,
  "info": $info-subtle-hover,
  "warning": $warning-subtle-hover,
  "danger": $danger-subtle-hover,
  "light": $light-subtle-hover,
  "dark": $dark-subtle-hover,
) !default;

$theme-colors-subtle-active: (
  "primary": $primary-subtle-active,
  "secondary": $secondary-subtle-active,
  "tertiary": $tertiary-subtle-active,
  "success": $success-subtle-active,
  "info": $info-subtle-active,
  "warning": $warning-subtle-active,
  "danger": $danger-subtle-active,
  "light": $light-subtle-active,
  "dark": $dark-subtle-active,
) !default;

$theme-colors-emphasis: (
  "primary": $primary-emphasis,
  "secondary": $secondary-emphasis,
  "tertiary": $tertiary-emphasis,
  "success": $success-emphasis,
  "info": $info-emphasis,
  "warning": $warning-emphasis,
  "danger": $danger-emphasis,
  "light": $light-emphasis,
  "dark": $dark-emphasis,
) !default;

$theme-colors-emphasis-hover: (
  "primary": $primary-emphasis-hover,
  "secondary": $secondary-emphasis-hover,
  "tertiary": $tertiary-emphasis-hover,
  "success": $success-emphasis-hover,
  "info": $info-emphasis-hover,
  "warning": $warning-emphasis-hover,
  "danger": $danger-emphasis-hover,
  "light": $light-emphasis-hover,
  "dark": $dark-emphasis-hover,
) !default;

$theme-colors-border-subtle: (
  "primary": $primary-border-subtle,
  "secondary": $secondary-border-subtle,
  "tertiary": $tertiary-border-subtle,
  "success": $success-border-subtle,
  "info": $info-border-subtle,
  "warning": $warning-border-subtle,
  "danger": $danger-border-subtle,
  "light": $light-border-subtle,
  "dark": $dark-border-subtle,
) !default;

// Dark
$theme-colors-dark: (
  "primary":    $primary-dark,
  "secondary":  $secondary-dark,
  "tertiary":   $tertiary-dark,
  "success":    $success-dark,
  "info":       $info-dark,
  "warning":    $warning-dark,
  "danger":     $danger-dark,
  "light":      $light-dark,
  "dark":       $dark-dark
) !default;

$theme-colors-dark-hover: (
  "primary": $primary-dark-hover,
  "secondary": $secondary-dark-hover,
  "tertiary": $tertiary-dark-hover,
  "success": $success-dark-hover,
  "info": $info-dark-hover,
  "warning": $warning-dark-hover,
  "danger": $danger-dark-hover,
  "light": $light-dark-hover,
  "dark": $dark-dark-hover,
) !default;

$theme-colors-dark-active: (
  "primary": $primary-dark-active,
  "secondary": $secondary-dark-active,
  "tertiary": $tertiary-dark-active,
  "success": $success-dark-active,
  "info": $info-dark-active,
  "warning": $warning-dark-active,
  "danger": $danger-dark-active,
  "light": $light-dark-active,
  "dark": $dark-dark-active,
) !default;


// Utilities maps
//
// Extends the default `$theme-colors` maps to help create our utilities.

// Come v6, we'll de-dupe these variables. Until then, for backward compatibility, we keep them to reassign.
// scss-docs-start utilities-colors
$utilities-colors: $theme-colors-rgb !default;
// scss-docs-end utilities-colors

// scss-docs-start utilities-text-colors
$utilities-text: map-merge(
  $utilities-colors,
  (
    "black": to-rgb($black),
    "white": to-rgb($white),
    "body": to-rgb($body-color)
  )
) !default;
$utilities-text-colors: map-loop($utilities-text, rgba-css-var, "$key", "text") !default;

$utilities-text-emphasis-colors: (
  "primary-emphasis": var(--#{$prefix}primary-emphasis),
  "secondary-emphasis": var(--#{$prefix}secondary-emphasis),
  "tertiary-emphasis": var(--#{$prefix}tertiary-emphasis),
  "success-emphasis": var(--#{$prefix}success-emphasis),
  "info-emphasis": var(--#{$prefix}info-emphasis),
  "warning-emphasis": var(--#{$prefix}warning-emphasis),
  "danger-emphasis": var(--#{$prefix}danger-emphasis),
  "light-emphasis": var(--#{$prefix}light-emphasis),
  "dark-emphasis": var(--#{$prefix}dark-emphasis)
) !default;
// scss-docs-end utilities-text-colors

// scss-docs-start utilities-bg-colors
$utilities-bg: map-merge(
  $utilities-colors,
  (
    "black": to-rgb($black),
    "white": to-rgb($white),
    "body": to-rgb($body-bg)
  )
) !default;
$utilities-bg-colors: map-loop($utilities-bg, rgba-css-var, "$key", "bg") !default;

$utilities-subtle: (
  "primary-subtle": var(--#{$prefix}primary-subtle),
  "secondary-subtle": var(--#{$prefix}secondary-subtle),
  "tertiary-subtle": var(--#{$prefix}tertiary-subtle),
  "success-subtle": var(--#{$prefix}success-subtle),
  "info-subtle": var(--#{$prefix}info-subtle),
  "warning-subtle": var(--#{$prefix}warning-subtle),
  "danger-subtle": var(--#{$prefix}danger-subtle),
  "light-subtle": var(--#{$prefix}light-subtle),
  "dark-subtle": var(--#{$prefix}dark-subtle)
) !default;
// $utilities-subtle-colors: map-loop($utilities-subtle, rgba-css-var, "$key", "bg") !default;
// scss-docs-end utilities-bg-colors

// scss-docs-start utilities-border-colors
$utilities-border: map-merge(
  $utilities-colors,
  (
    "white": to-rgb($white)
  )
) !default;
$utilities-border-colors: map-loop($utilities-border, rgba-css-var, "$key", "border") !default;

$utilities-border-subtle: (
  "primary-subtle": var(--#{$prefix}primary-border-subtle),
  "secondary-subtle": var(--#{$prefix}secondary-border-subtle),
  "tertiary-subtle": var(--#{$prefix}tertiary-border-subtle),
  "success-subtle": var(--#{$prefix}success-border-subtle),
  "info-subtle": var(--#{$prefix}info-border-subtle),
  "warning-subtle": var(--#{$prefix}warning-border-subtle),
  "danger-subtle": var(--#{$prefix}danger-border-subtle),
  "light-subtle": var(--#{$prefix}light-border-subtle),
  "dark-subtle": var(--#{$prefix}dark-border-subtle)
) !default;
// scss-docs-end utilities-border-colors

$negative-spacers: if($enable-negative-margins, negativify-map($spacers), null) !default;

$gutters: $spacers !default;
