@import "node_modules/bootstrap/scss/navbar";

.navbar {
  z-index: 1030;
  opacity: 1;
  transition: transform 300ms 300ms cubic-bezier(.4, 0, .2, 1), opacity 300ms 300ms;
  transform: translateY(0);

  &.hide {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.navbar-toggler {
  .navbar-toggler-icon {
    transition: transform 200ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &[aria-expanded="true"] {
    .navbar-toggler-icon {
      transform: rotate(180deg);
    }
  }
}
