@use "@material/ripple";
@use '@material/ripple/mdc-ripple';

.nav-tabs {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.icon-top {
    .nav-link {
      flex-direction: column;
    }
  }

  &.icon-right {
    .nav-link {
      flex-direction: row-reverse;
    }
  }

  &.icon-bottom {
    .nav-link {
      flex-direction: column-reverse;
    }
  }

  &.icon-left {
    .nav-link {
      flex-direction: row;
    }
  }

  .nav-item {
    position: relative;
    margin: 0;

    .nav-link {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      font-family: Roboto, sans-serif;
      font-size: .875rem;
      font-weight: 500;
      line-height: 2.25rem;
      color: $gray-900;
      text-transform: uppercase;
      letter-spacing: .08929em;
      border: 0;
      outline: none;
      box-shadow: none;

      @include ripple.surface;
      @include ripple.radius-bounded;
      @include ripple.states-base-color($primary);
      @include ripple.states-opacities((hover: .1, focus: .3, press: .4));

      &.active {
        border: 0;
        color: $primary;
      }
    }

    &:hover {
      border: 0;
      border-radius: 2px;
    }
  }

  .nav-link.active {
    + .active-indicator {
      opacity: 1;
    }
  }

  .active-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: block;
    height: 2px;
    background: $primary;
    transition: left .2s ease;
  }
}

@each $color, $value in $theme-colors {
  .nav-tabs.primary-#{$color} .nav-link.active,
  .nav-tabs.base-#{$color} .nav-link:not(.active) {
    color: $value !important; /* stylelint-disable-line declaration-no-important */
    @include ripple.states-base-color($value);
  }

  .nav-tabs.primary-#{$color} {
    .active-indicator {
      background: $value;
    }
  }
}
