@import "node_modules/bootstrap/scss/forms";

.form-floating {
  > .form-control {
    background-color: $form-control-bg;
    border: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;

    ~ label {
      border: 0;
    }

    &.--outline {
      background-color: transparent;

      ~ .m-notch > .m-notch-between > label {
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        padding: 1rem 0;
        pointer-events: none;
        transform-origin: 0 0;
        transition: opacity .1s ease-in-out, transform .1s ease-in-out;
      }

      &:focus, &:not(:placeholder-shown) {
        padding: 1.125rem 0.75rem;

        ~ .m-notch > .m-notch-between > label {
          left: 0;
          transform: scale(.85) translateY(-50%);
          margin-right: -15px;
        }
      }

      &:focus {
        ~ .m-notch > .m-notch-between > label {
          color: $primary;
        }
      }

      &:hover {
        background-color: transparent;
      }

      &:focus, &.active {
        background-color: transparent;

        ~ .m-notch {
          > .m-notch-before,
          > .m-notch-between,
          > .m-notch-after {
            border-width: 2px;
            border-color: $primary;
          }
        }
      }
    }

    &:hover {
      background-color: $form-control-hover-bg;
    }

    &:focus, &.active {
      background-color: $form-control-active-bg;

      ~ .m-line-ripple {
        background-size: 100% 2px, 100% 1px;
      }
    }

    &:focus {
      ~ label {
        color: $primary;
      }
    }
  }
}

.input-group {
  > .form-floating {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    > .form-control {
      border-radius: 0;
    }
  }

  .input-group-text {
    border: 0;
  }

  &:focus-within {
    .m-line-ripple {
      background-size: 100% 2px, 100% 1px;
    }
  }

  > .form-floating {
    > .m-line-ripple {
      width: auto;
      max-width: unset;
      margin-left: -39.2px; /* left icon width calculate this */
      margin-right: -39.2px; /* right icon width calculate this */
    }

    > .m-notch {
      width: auto;
      max-width: unset;
      margin-left: -39.2px; /* left icon width calculate this */
      margin-right: -39.2px; /* right icon width calculate this */

      > .m-notch-between {
        > label {
          transform: translateX(27px); /* calculate this */
        }
      }
    }
  }

  &.--with-outline {
    .input-group-text {
      background-color: transparent;
    }
  }

  &:not(.--with-outline) {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;

    .input-group-text {
      border-radius: 0;

      &.prepend {
        border-top-left-radius: 0.25rem;
      }

      &.append {
        border-top-right-radius: 0.25rem !important;
      }
    }

    &:hover {
      .input-group-text {
        background-color: $form-control-hover-bg;
      }
    }

    &:focus-within {
      .input-group-text {
        background-color: $form-control-active-bg;
      }
    }
  }
}

.form-floating > .form-control.--outline:focus ~ .m-notch > .m-notch-between,
.form-floating > .form-control.--outline:not(:placeholder-shown) ~ .m-notch > .m-notch-between {
  border-top: 0;
}

.m-line-ripple {
  position: relative;
  width: 100%;
  height: 2px;
  background: linear-gradient($primary, $primary) top/0 2px no-repeat border-box,
  linear-gradient($dark, $dark) top/100% 1px no-repeat border-box transparent;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.m-notch {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 100%;
  text-align: left;
  pointer-events: none;
  background: transparent;

  .m-notch-before,
  .m-notch-between,
  .m-notch-after {
    pointer-events: none;
    border: 1px solid $dark;
    border-radius: .25rem;
  }

  .m-notch-before {
    width: 0.75rem;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .m-notch-between {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 0 5px;
    width: auto;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    position: relative;
  }

  .m-notch-after {
    flex: 1;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.was-validated {
  .form-control {
    &:valid, &.is-valid {
      &:focus {
        box-shadow: none;
      }

      ~ label {
        color: $success;
      }

      ~ .m-line-ripple {
        background-image: linear-gradient($success, $success), linear-gradient($success, $success);
      }

      &.--outline {
        ~ .m-notch > .m-notch-between > label {
          color: $success;
        }

        ~ .m-notch {
          > .m-notch-before,
          > .m-notch-between,
          > .m-notch-after {
            border-color: $success;
          }
        }
      }
    }

    &:invalid, &.is-invalid {
      &:focus {
        box-shadow: none;
      }

      ~ label {
        color: $danger;
      }

      ~ .m-line-ripple {
        background-image: linear-gradient($danger, $danger), linear-gradient($danger, $danger);
      }

      &.--outline {
        ~ .m-notch > .m-notch-between > label {
          color: $danger;
        }

        ~ .m-notch {
          > .m-notch-before,
          > .m-notch-between,
          > .m-notch-after {
            border-color: $danger;
          }
        }
      }
    }
  }
}
