@import "node_modules/bootstrap/scss/forms";

.form-floating {

  &:not(.form-floating--outlined) {
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
    background-color: $form-control-bg;

    &:hover {
      background-color: $form-control-hover-bg;
    }

    &:focus-within {
      background-color: $form-control-active-bg;
    }
  }

  > textarea.form-control {
    margin: 1.625rem 0 0.2rem 0;
    padding: 0 0.75rem;

    &:focus, &:not(:placeholder-shown) {
      padding: 0 0.75rem;
    }
  }

  > .form-control {
    background-color: transparent;
    border: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;

    ~ label {
      color: $text-field-base-color;
      border: 0;
    }

    &:focus, &.active {
      ~ .m-line-ripple {
        background-size: 100% 2px, 100% 1px;
      }
    }

    &:focus {
      ~ label {
        color: $text-field-primary-color;
      }
    }
  }

  &--outlined {

    > textarea.form-control {
      margin: 0.9125rem 0;
      padding: 0 0.75rem;

      &:focus, &:not(:placeholder-shown) {
        padding: 0 0.75rem;
      }
    }

    > .form-control {
      ~ .m-notch > .m-notch-between > label {
        color: $text-field-base-color;
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        padding: 1rem 0;
        pointer-events: none;
        transform-origin: 0 0;
        transition: opacity .1s ease-in-out, transform .1s ease-in-out;
      }

      &:focus, &:not(:placeholder-shown) {
        padding: 1.125rem 0.75rem;

        ~ .m-notch > .m-notch-between {
          border-top: 0;

          > label {
            left: 0;
            transform: scale(.85) translateY(-1.75rem);
            margin-right: var(--label-floating-margin-right, 0);
          }
        }
      }

      &:focus {
        ~ .m-notch > .m-notch-between > label {
          color: $text-field-primary-color;
        }
      }

      &:focus, &.active {
        ~ .m-notch {
          > .m-notch-before,
          > .m-notch-between,
          > .m-notch-after {
            border-width: 2px;
            border-color: $text-field-primary-color;
          }
        }
      }
    }
  }
}

// Input Group
.input-group {
  display: block;

  .input-group-text {
    top: 0;
    position: absolute;
    pointer-events: none;

    &.prepend {
      left: 0;
    }

    &.append {
      right: 0;
    }
  }

  > .form-floating {
    .form-control {
      padding-left: var(--prepend-width, 0.75rem);
      padding-right: var(--append-width, 0.75rem);

      ~ label {
        left: var(--prepend-width, 0);
      }
    }

    > .m-notch {
      > .m-notch-between > label {
        transform: translateX(calc(var(--prepend-width, calc(0.75rem + 5px)) - (0.75rem + 5px)));
      }
    }
  }
}

// Line ripple and Notch
.m-line-ripple {
  position: relative;
  width: 100%;
  height: 2px;
  margin-bottom: -2px;
  background: linear-gradient($text-field-primary-color, $text-field-primary-color) top/0 2px no-repeat border-box,
  linear-gradient($text-field-base-color, $text-field-base-color) top/100% 1px no-repeat border-box transparent;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.m-notch {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 100%;
  text-align: left;
  pointer-events: none;
  background: transparent;

  .m-notch-before,
  .m-notch-between,
  .m-notch-after {
    pointer-events: none;
    border: 1px solid $text-field-base-color;
    border-radius: .25rem;
  }

  .m-notch-before {
    width: 0.75rem;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .m-notch-between {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 0 5px;
    width: auto;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    position: relative;
  }

  .m-notch-after {
    flex: 1;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

// Validation
.was-validated {
  .form-floating {
    .form-control {
      &:valid, &.is-valid {
        background-position: right var(--append-width, 0.75rem) center;
        padding-right: calc(calc(1.5em + 0.75rem) + var(--append-width, 0px));

        &:focus {
          box-shadow: none;
        }

        ~ label {
          color: $success;
        }

        ~ .m-line-ripple {
          background-image: linear-gradient($success, $success), linear-gradient($success, $success);
        }
      }

      &:invalid, &.is-invalid {
        background-position: right var(--append-width, 0.75rem) center;
        padding-right: calc(calc(1.5em + 0.75rem) + var(--append-width, 0px));

        &:focus {
          box-shadow: none;
        }

        ~ label {
          color: $danger;
        }

        ~ .m-line-ripple {
          background-image: linear-gradient($danger, $danger), linear-gradient($danger, $danger);
        }
      }
    }

    &--outlined {
      .form-control {
        &:valid, &.is-valid {
          ~ .m-notch > .m-notch-between > label {
            color: $success;
          }

          ~ .m-notch {
            > .m-notch-before,
            > .m-notch-between,
            > .m-notch-after {
              border-color: $success;
            }
          }
        }

        &:invalid, &.is-invalid {
          ~ .m-notch > .m-notch-between > label {
            color: $danger;
          }

          ~ .m-notch {
            > .m-notch-before,
            > .m-notch-between,
            > .m-notch-after {
              border-color: $danger;
            }
          }
        }
      }
    }
  }
}
