@import "node_modules/bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "shadow": (
      property: box-shadow,
      class: shadow,
      values:
      map-merge(
        $shadows,
        (
          null: $box-shadow,
          sm: $box-shadow-sm,
          lg: $box-shadow-lg,
          none: none,
        )
      ),
    ),
  )
);
