// Dark color mode variables
//
// Custom variables for the `[data-bs-theme="dark"]` theme. Use this as a starting point for your own custom color modes by creating a new theme-specific file like `_variables-dark.scss` and adding the variables you need.

//
// Global colors
//

// scss-docs-start sass-dark-mode-vars
$primary-text-dark:                 $indigo-2 !default;
$secondary-text-dark:               $gray-2 !default;
$success-text-dark:                 $green-2 !default;
$info-text-dark:                    $cyan-2 !default;
$warning-text-dark:                 $yellow-2 !default;
$danger-text-dark:                  $red-2 !default;
$light-text-dark:                   $gray-0 !default;
$dark-text-dark:                    $gray-2 !default;

$primary-text-dark-hover:           $indigo-1 !default;
$secondary-text-dark-hover:         $gray-1 !default;
$success-text-dark-hover:           $green-1 !default;
$info-text-dark-hover:              $cyan-1 !default;
$warning-text-dark-hover:           $yellow-1 !default;
$danger-text-dark-hover:            $red-1 !default;
$light-text-dark-hover:             $gray-1 !default;
$dark-text-dark-hover:              $gray-1 !default;

$primary-bg-subtle-dark:            $indigo-12 !default;
$secondary-bg-subtle-dark:          $gray-8 !default;
$success-bg-subtle-dark:            $green-12 !default;
$info-bg-subtle-dark:               $cyan-12 !default;
$warning-bg-subtle-dark:            $yellow-12 !default;
$danger-bg-subtle-dark:             $red-12 !default;
$light-bg-subtle-dark:              $gray-7 !default;
$dark-bg-subtle-dark:               $gray-10 !default;

$primary-bg-subtle-dark-hover:       $indigo-11 !default;
$secondary-bg-subtle-dark-hover:     $gray-7 !default;
$success-bg-subtle-dark-hover:       $green-11 !default;
$info-bg-subtle-dark-hover:          $cyan-11 !default;
$warning-bg-subtle-dark-hover:       $yellow-11 !default;
$danger-bg-subtle-dark-hover:        $red-11 !default;
$light-bg-subtle-dark-hover:         $gray-6 !default;
$dark-bg-subtle-dark-hover:          $gray-9 !default;

$primary-bg-subtle-dark-active:       $indigo-10 !default;
$secondary-bg-subtle-dark-active:     $gray-6 !default;
$success-bg-subtle-dark-active:       $green-10 !default;
$info-bg-subtle-dark-active:          $cyan-10 !default;
$warning-bg-subtle-dark-active:       $yellow-10 !default;
$danger-bg-subtle-dark-active:        $red-10 !default;
$light-bg-subtle-dark-active:         $gray-5 !default;
$dark-bg-subtle-dark-active:          $gray-8 !default;

$primary-border-subtle-dark:        $indigo-6 !default;
$secondary-border-subtle-dark:      $gray-6 !default;
$success-border-subtle-dark:        $green-6 !default;
$info-border-subtle-dark:           $cyan-6 !default;
$warning-border-subtle-dark:        $yellow-6 !default;
$danger-border-subtle-dark:         $red-6 !default;
$light-border-subtle-dark:          $gray-6 !default;
$dark-border-subtle-dark:           $gray-6 !default;

$body-color-dark:                   $gray-4 !default;
$body-bg-dark:                      $gray-9 !default;
$body-secondary-color-dark:         $gray-5 !default;
$body-secondary-bg-dark:            $gray-8 !default;
$body-tertiary-color-dark:          $gray-6 !default;
$body-tertiary-bg-dark:             $gray-7 !default;
$body-emphasis-color-dark:          $gray-0 !default;
$emphasis-color-dark:               $white !default;

$border-color-dark:                 $gray-7 !default;
$border-color-translucent-dark:     rgba($white, .15) !default;
$headings-color-dark:               $white !default;
$code-color-dark:                   $pink-2 !default;


//
// Forms
//

$form-select-indicator-color-dark:  $body-color-dark !default;
$form-select-indicator-dark:        url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-indicator-color-dark}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>") !default;

$form-switch-color-dark:            rgba($white, .25) !default;
$form-switch-bg-image-dark:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-color-dark}'/></svg>") !default;


//
// Accordion
//

$accordion-button-icon-dark:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$primary-text-dark}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;
$accordion-button-active-icon-dark:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$primary-text-dark}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;
// scss-docs-end sass-dark-mode-vars
