// Theme Colors
@import "utilities/color";

// Alert
$alert-border-radius: 4px;
$alert-border-width: 0;
$alert-color-level: 1;
$alert-border-level: -5;

// Button
$btn-font-weight: 500;
$btn-border-width: 0;
$btn-border-radius: 4px;
$btn-border-radius-lg: 4px;
$input-btn-focus-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
$btn-active-box-shadow: none;

$form-check-input-border: 2px solid rgba(0, 0, 0, .25);
$form-check-input-border-radius: 2px;
$form-check-input-focus-box-shadow: 0 0 0 .25rem rgba($primary, .25);
$form-check-input-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='none' stroke='#fff' stroke-width='3.5' d='M1.73,12.91 8.1,19.28 22.79,4.59'/></svg>");
$form-check-radio-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$primary}'/></svg>");

// Card
$card-border-width: 0;
$card-border-radius: 2px;

// Checkbox, Radio, Switch
$custom-control-indicator-border-width: 2px;
$custom-control-indicator-focus-box-shadow: 0 0 0 .2rem rgba($primary, .25);
$custom-control-indicator-checked-disabled-bg: #e9ecef;

// Range Slider
$custom-range-track-height: .2rem;
$custom-range-thumb-active-bg: $primary;

// Dropdown
$dropdown-border-width: 0;
$enable-shadows: true;
$dropdown-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);

// List
$list-group-border-radius: 0;
$list-group-border-color: $gray-300;
$list-group-hover-bg: $gray-100;
$list-group-active-color: $primary;
$list-group-active-bg: $white;
$list-group-active-border-color: $gray-300;

// Modal
$modal-content-border-radius: 0;

// Pagination
$pagination-focus-box-shadow: none;

// Tab
$nav-tabs-border-color: $gray-200;

// Text Field
$input-height: auto;
$input-height-sm: auto;
$input-height-lg: auto;
$input-font-family: "Roboto", sans-serif;
$input-padding-x-sm: .75rem;
$input-padding-x-lg: .75rem;
$input-box-shadow: none;
$input-focus-box-shadow: none;

// Toast
$toast-border-width: 0;
$toast-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
