// Theme Colors
@import "utilities/color";
@import "utilities/shadow";

$enable-shadows: true !default;

// Accordion
$accordion-button-focus-box-shadow: 0 0 0 rgb(0 0 0 / 0) !default;

// Alert
$alert-border-width: 0 !default;

// Button
$btn-border-width: 0 !default;
$btn-hover-box-shadow: map-get($shadows, 4dp) !default;
$btn-focus-box-shadow: $btn-hover-box-shadow !default;
$btn-active-box-shadow:  $btn-hover-box-shadow !default;

// Button close
$btn-close-padding-x: .5em !default;
$btn-close-focus-shadow: 0 0 0 0.15rem rgb(0 0 0 / 20%) !default;

// Pagination
$pagination-focus-box-shadow: 0 0 0 rgb(0 0 0 / 0) !default;

// Dropdown
$dropdown-border-width: 0 !default;

// Card
$card-border-width: 0 !default;

// Checkbox, Radio
$form-check-input-border: 2px solid rgba($black, .25) !default;
$form-check-input-border-radius: 2px !default;
$form-check-input-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='none' stroke='#fff' stroke-width='3.5' d='M1.73,12.91 8.1,19.28 22.79,4.59'/></svg>") !default;
$form-check-radio-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$primary}'/></svg>") !default;

// Switch
$form-switch-color: rgba($black, .25) !default;
$form-switch-focus-color: tint-color($primary, 50%) !default;
$form-switch-checked-color: $white !default;
$form-switch-square-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-1 -1 8 8'><rect width='6' height='6' fill='#{$form-switch-color}'/></svg>") !default;
$form-switch-square-focus-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-1 -1 8 8'><rect width='6' height='6' fill='#{$form-switch-focus-color}'/></svg>") !default;
$form-switch-square-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-1 -1 8 8'><rect width='6' height='6' fill='#{$form-switch-checked-color}'/></svg>") !default;

// List
$list-group-border-radius: 0 !default;
$list-group-border-color: $gray-300 !default;
$list-group-active-color: $primary !default;
$list-group-active-bg: $white !default;
$list-group-active-border-color: $list-group-border-color !default;

// Popover
$popover-border-width: 0 !default;

// Navbar
$navbar-toggler-focus-width: 0.2rem !default;
$navbar-toggler-border-radius: 0 !default;
$navbar-dark-color: rgba($white, .55) !default;
$navbar-light-color: rgba($black, .55) !default;
$navbar-light-toggler-border-color: transparent !default;
$navbar-dark-toggler-border-color: transparent !default;
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='#{$navbar-dark-color}'><path d='M24 24H0V0h24v24z' fill='none' opacity='.87'/><path d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z'/></svg>") !default;
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='#{$navbar-light-color}'><path d='M24 24H0V0h24v24z' fill='none' opacity='.87'/><path d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z'/></svg>") !default;

// Tab
$nav-tabs-border-radius: 0 !default;

// Text Field
$form-field-base-color: var(--form-field-base-color, #757575) !default;
$form-field-primary-color: var(--form-field-primary-color, $primary) !default;
$form-floating-label-opacity: 1 !default;
$input-group-addon-bg: transparent !default;
$input-group-addon-border-color: transparent !default;
$form-control-bg: #f5f5f5 !default;
$form-control-hover-bg: #eee !default;
$form-control-active-bg: #e0e0e0 !default;

// Toast
$toast-border-width: 0 !default;
$toast-box-shadow: map-get($shadows, 4dp) !default;

// Progress Bar
$progress-border-radius: 0 !default;

// Snackbar
$snackbar-bg: #212121 !default;
$snackbar-color: #fff !default;
$snackbar-padding: 16px !default;
$snackbar-min-width: 250px !default;
$snackbar-border-radius: 2px !default;
$snackbar-left: 50% !default;
$snackbar-bottom: -20px !default;
$snackbar-show-bottom: 20px !default;
$snackbar-left-left: 20px !default;
$snackbar-right-right: 20px !default;

// z-index
$zindex-oncanvas: 990 !default;
$zindex-navbar: 995 !default;
$zindex-snackbar: 1085 !default;

// Offcanvas
$offcanvas-padding-y: 1rem * .5 !default;

$drawer-toggler-padding-y: .25rem !default;
$drawer-toggler-padding-x: .25rem !default;
$navbar-dark-drawer-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='#{$navbar-dark-color}'><path d='M0 0h24v24H0V0z' fill='none'/><path d='M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z'/></svg>") !default;
$navbar-light-drawer-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='#{$navbar-light-color}'><path d='M0 0h24v24H0V0z' fill='none'/><path d='M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z'/></svg>") !default;
$drawer-toggler-border-radius: 50% !default;

$drawer-link-hover-bg-factor: .075 !default;
$drawer-light-link-hover-bg: rgba($black, $drawer-link-hover-bg-factor) !default;
$drawer-dark-link-hover-bg: rgba($white, $drawer-link-hover-bg-factor) !default;
