<aside class="offcanvas-start offcanvas-lg offcanvas-fixed"
       data-bs-scroll="true" tabindex="-1" id="site-offcanvas">
  <div class="offcanvas-header">
    <a class="offcanvas-title d-flex align-items-center text-white py-0" href="/">
      <img src="/materialstyle/assets/images/MSIconNewColorV2.svg"
           alt="Material Style Logo" style="width:40px; height:40px;">Material Style
    </a>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            data-bs-target="#site-offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    {{- $url := split .Permalink "/" -}}
    {{- $page_slug := index $url (sub (len $url) 2) -}}

    <ul class="nav flex-column" id="sidebar">
      {{- range $index, $group := .Site.Data.drawer -}}

        {{- $link := $group.title -}}
        {{- $link_slug := $link | urlize -}}

        {{- if $group.pages -}}
          {{- $link = index $group.pages 0 -}}
          {{- $link_slug = $link.title | urlize -}}
        {{- end -}}

        {{- $group_slug := $group.title | urlize -}}
        {{- $is_active_group := eq $.Page.Params.group $group_slug -}}

        {{ if ne $index 0 }}
          <li><hr class="dropdown-divider"></li>
        {{ end }}

        {{- if $group.pages }}

          <li class="nav-item list-heading"><b>{{ $group.title }}</b></li>

          {{- range $doc := $group.pages -}}
            {{- $doc_slug := $doc.title | urlize -}}
            {{- $is_active := and $is_active_group (eq $page_slug $doc_slug) -}}
            {{- $href := printf "/materialstyle/%s/%s/%s/" $.Site.Params.docs_version $group_slug $doc_slug }}

            <li class="nav-item mb-1">
              <a class="nav-link rounded-pill {{ if $is_active }} active{{ end }}"
                 href="{{ $href }}">{{ $doc.title }}</a>
            </li>
          {{- end }}

        {{- else }}

          <li class="nav-item my-1">
            <a class="nav-link rounded-pill {{ if $is_active_group }} active{{ end }}"
               href="/materialstyle/{{ $.Site.Params.docs_version }}/{{ $group_slug }}">{{ $group.title }}</a>
          </li>

        {{- end }}

      {{- end }}
    </ul>
  </div>
</aside>
