<div class="m-5 p-3 px-5 rounded-4rem bg-warning bg-opacity-10">
  We are aware that the documentation is incomplete. While we work on it, You may refer to
  <a href="https://getbootstrap.com/docs/5.2/getting-started/introduction/">Bootstrap docs</a>
  or help us by
  <a href="https://github.com/materialstyle/materialstyle#contributing">contributing</a>.
</div>
<footer class="m-5 rounded-4rem bg-purple bg-opacity-10">
  <div class="container">
    <div class="row py-4 px-2 px-sm-4">
      <div class="d-flex flex-column justify-content-center align-items-center mb-2">
        <a class="footer-brand link-dark text-decoration-none text-center" href="/" aria-label="Material Style">
          <img src="/materialstyle/assets/images/MSIconNewColorV2.svg" alt="Material Style Logo" style="width:40px; height:40px;">
          <span class="d-block">Material Style</span>
        </a>
      </div>
      <p class="text-center">Material Style is a Material Design UI Library based on Bootstrap. Currently v{{ .Site.Params.current_version }}</p>
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link link-purple fw-bold" href="https://github.com/materialstyle/materialstyle/blob/main/LICENSE">License</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-purple fw-bold" href="https://github.com/materialstyle/materialstyle">GitHub</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-purple fw-bold" href="https://www.npmjs.com/package/@materialstyle/materialstyle">npm</a>
        </li>
      </ul>
    </div>
    <hr class="bg-dark m-0">
    <div class="row py-4 px-2 px-sm-4">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link link-dark small text-center" href="https://getbootstrap.com/">Bootstrap 5</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-dark small text-center" href="https://icons.getbootstrap.com/">Bootstrap Icons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-dark small text-center" href="https://m3.material.io/">Material Design 3 (Material You)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-dark small text-center" href="https://material.io/">Material Design 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-dark small text-center" href="https://fonts.google.com/icons">Material Icons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-dark small text-center" href="https://fonts.google.com/">Google Fonts</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
