<footer class="py-5 mt-5 bg-light">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-3 mb-3">
        <a class="footer-brand d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/" aria-label="Material Style">
          <img src="/materialstyle/assets/images/MSIconNewColorV2.svg" alt="Material Style Logo" style="width:40px; height:40px;">
          <span>Material Style</span>
        </a>
        <ul class="list-unstyled small text-muted">
          <li class="mb-2">
            Code licensed
            <a class="link-primary text-decoration-none" href="https://github.com/materialstyle/materialstyle/blob/main/LICENSE" target="_blank" rel="license noopener">MIT</a>.</li>
          <li class="mb-2">Currently v{{ .Site.Params.current_version }}.</li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 offset-lg-1 mb-3">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a class="link-secondary text-decoration-none" href="/">Home</a></li>
          <li class="mb-2"><a class="link-secondary text-decoration-none" href="/materialstyle/">Docs</a></li>
          <li class="mb-2"><a class="link-secondary text-decoration-none" href="https://www.npmjs.com/package/@materialstyle/materialstyle">npm</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Bootstrap</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a class="link-secondary text-decoration-none" href="https://getbootstrap.com/">Bootstrap 5</a></li>
          <li class="mb-2"><a class="link-secondary text-decoration-none" href="https://icons.getbootstrap.com/">Bootstrap Icons</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Material Design</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a class="link-secondary text-decoration-none" href="https://m3.material.io/">Material You (Material Design 3)</a></li>
          <li class="mb-2"><a class="link-secondary text-decoration-none" href="https://material.io/">Material Design 2</a></li>
          <li class="mb-2"><a class="link-secondary text-decoration-none" href="https://fonts.google.com/icons">Material Icons</a></li>
          <li class="mb-2"><a class="link-secondary text-decoration-none" href="https://fonts.google.com/">Google Fonts</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Community</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a class="link-secondary text-decoration-none" href="https://github.com/materialstyle/materialstyle">Github</a></li>
          <li class="mb-2"><a class="link-secondary text-decoration-none" href="https://github.com/materialstyle/materialstyle/issues">Issues</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
