<nav id="site-home-top-nav" class="navbar bg-purple navbar-dark fixed-top">
  <!-- Skip to main content or sidebar -->
  <div class="d-flex justify-content-center align-items-center w-100 visually-hidden-focusable overflow-hidden" >
    <a class="link-white p-2 m-1" href="#content">Skip to main content</a>
    <a class="link-white d-none d-lg-inline-block p-2 m-1" href="#sidebar">Skip to sidebar</a>
  </div>

  <div class="container-fluid gap-3">
    <div class="d-flex align-items-center">
        <button class="navbar-toggler d-lg-none"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#site-offcanvas">
          <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand d-flex align-items-center py-0 me-0" href="/">
          <img src="/materialstyle/assets/images/MSIconNewColorV2.svg" alt="Material Style Logo" style="width:40px; height:40px;">
          <div id="site-name" class="text-white ml-1">Material Style</div>
        </a>
    </div>

    <ul class="navbar-nav d-flex flex-row align-items-center justify-content-evenly gap-4 me-2">
      <li class="nav-item dropdown">
        <button class="btn btn-outline-light border-0 dropdown-toggle rounded px-2 d-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
          v{{ .Site.Params.docs_version }}
          <span class="ripple-surface"></span>
        </button>
        <ul class="dropdown-menu position-absolute" style="--bs-dropdown-min-width: auto;">
          <li><a class="dropdown-item" href="/docs/2.0/">2.0</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/docs/1.2/">1.2</a></li>
          <li><a class="dropdown-item" href="/docs/1.1/">1.1</a></li>
          <li><a class="dropdown-item" href="/docs/1.0/">1.0</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link px-1 py-0" id="docsearch">
          <i class="bi bi-search text-white fs-4"></i>
        </a>
      </li>
      <li class="nav-item dropdown">
        <button class="btn btn-outline-light border-0 dropdown-toggle rounded px-2 d-flex align-items-center"
                id="theme"
                type="button"
                aria-expanded="false"
                data-bs-toggle="dropdown"
                data-bs-display="static">
          <svg class="bi my-1 theme-icon-active"><use href="#circle-half"></use></svg>
          <span class="visually-hidden">Toggle theme</span>
          <span class="ripple-surface"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end position-absolute" aria-labelledby="theme" style="--bs-dropdown-min-width: 8rem;">
          <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light">
              <svg class="bi me-2 opacity-50 theme-icon"><use href="#sun-fill"></use></svg>
              Light
              <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
            </button>
          </li>
          <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark">
              <svg class="bi me-2 opacity-50 theme-icon"><use href="#moon-stars-fill"></use></svg>
              Dark
              <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
            </button>
          </li>
          <li>
            <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto">
              <svg class="bi me-2 opacity-50 theme-icon"><use href="#circle-half"></use></svg>
              Auto
              <svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
            </button>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
