{{ define "main" }}
  <div class="component-page">

    <div class="component-showcase">
      {{ .Content }}
    </div>

    <div class="component-map">
      <div class="row">
        <div class="col">
          <div class="adspace bg-gray-100">

          </div>
        </div>
      </div>

      {{ if (eq .Page.Params.toc true) }}
        <div class="row">
          <div class="col">
            <div class="pt-1 ms-toc">
              <h4>On this page</h4>
              <hr>
              {{ .TableOfContents }}
            </div>
          </div>
        </div>
      {{ end }}

      {{ $related := .Site.RegularPages.Related . | first 5 }}
      {{ with $related }}
        <div class="row">
          <div class="col">
            <div class="pt-1 ms-toc">
              <h4>See Also</h4>
              <hr>
              <nav>
                <ul>
                  {{ range . }}
                  <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                  {{ end }}
                </ul>
              </nav>
            </div>
          </div>
        </div>
      {{ end }}
    </div>

  </div>
{{ end }}
