{{ define "main" }}
<div class="component-page">

  <div class="component-showcase">
    <h1 id="content">{{ .Title | markdownify }}</h1>
    {{ .Content }}
  </div>

  <div class="component-map">
    <div class="row">
      <div class="col">
        <div class="adspace bg-gray-100">

        </div>
      </div>
    </div>

    <div class="sticky-md-top" style="top: 3rem;">
      {{ if (eq .Page.Params.toc true) }}
      <div class="row">
        <div class="col">
          <div class="ms-toc my-2">
            <label class="text-secondary-emphasis mb-2">CONTENTS</label>
            {{ .Page.TableOfContents | replaceRE "(<li>)" "<li class=\"nav-item\">" | replaceRE "(<ul>)" "<ul class=\"nav flex-column\">" | replaceRE "(?s:href)" "class=\"nav-link\" href" | safeHTML }}
          </div>
        </div>
      </div>
      {{ end }}

      {{ $related := .Site.RegularPages.Related . | first 10 }}
      {{ with $related }}
      <div class="row">
        <div class="col">
          <div class="ms-toc mt-4 mb-2">
            <label class="text-secondary-emphasis mb-2">SEE ALSO</label>
            <nav>
              <ul class="nav flex-column">
                {{ range . }}
                <li class="nav-item"><a class="nav-link" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
              </ul>
            </nav>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>

</div>
{{ end }}
