{{ define "main" }}
<div class="component-page">

  <div class="component-showcase">
    <h1 id="content">{{ .Title | markdownify }}</h1>

    {{ if (.Page.Params.Description) }}
    <p class="fs-4 ms-0 mb-4 page-description">{{ .Page.Params.Description | markdownify }}</p>
    {{ end }}

    {{ .Content }}
  </div>

  <div class="component-map">
    <div class="row">
      <div class="col">
        <div class="adspace rounded mb-2">
          <a target="_blank" class="text-decoration-none text-body" href="https://materialstyle.github.io/theme-builder">
            <div class="d-flex align-items-center">
              <img src="/materialstyle/assets/images/MSIconNewColorV2.svg" alt="Material Style Logo" style="width:40px; height:40px;">
              <div class="site-name ml-1">Theme Builder <i class="bi bi-box-arrow-up-right"></i></div>
            </div>
            <small>Personalize Material Style to reflect your product's brand identity.</small>
          </a>
        </div>
      </div>
    </div>

    <div class="sticky-md-top" style="top: 3rem;">
      {{ if (eq .Page.Params.toc true) }}
      <div class="row">
        <div class="col">
          <div class="ms-toc my-2">
            <label class="text-secondary-emphasis mb-2">CONTENTS</label>
            {{ .Page.TableOfContents | replaceRE "(<li>)" "<li class=\"nav-item\">" | replaceRE "(<ul>)" "<ul class=\"nav flex-column\">" | replaceRE "(?s:href)" "class=\"nav-link\" href" | safeHTML }}
          </div>
        </div>
      </div>
      {{ end }}

      {{ $related := .Site.RegularPages.Related . | first 10 }}
      {{ with $related }}
      <div class="row">
        <div class="col">
          <div class="ms-toc mt-4 mb-2">
            <label class="text-secondary-emphasis mb-2">SEE ALSO</label>
            <nav>
              <ul class="nav flex-column">
                {{ range . }}
                <li class="nav-item"><a class="nav-link" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
              </ul>
            </nav>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>

</div>
{{ end }}
