# Enforce Unix newlines
* text=auto eol=lf

*.jpg binary
*.png binary

# Don't diff or textually merge source maps
*.map binary

materialstyle.css linguist-vendored=false
materialstyle.js linguist-vendored=false
