@mixin button-variant(
  $background,
  $border,
  $color: color-contrast($background),
  $hover-background: if($color == $color-contrast-light, shade-color($background, $btn-hover-bg-shade-amount), tint-color($background, $btn-hover-bg-tint-amount)),
  $hover-border: if($color == $color-contrast-light, shade-color($border, $btn-hover-border-shade-amount), tint-color($border, $btn-hover-border-tint-amount)),
  $hover-color: color-contrast($hover-background),
  $active-background: if($color == $color-contrast-light, shade-color($background, $btn-active-bg-shade-amount), tint-color($background, $btn-active-bg-tint-amount)),
  $active-border: if($color == $color-contrast-light, shade-color($border, $btn-active-border-shade-amount), tint-color($border, $btn-active-border-tint-amount)),
  $active-color: color-contrast($active-background),
  $disabled-background: $background,
  $disabled-border: $border,
  $disabled-color: color-contrast($disabled-background)
) {

  color: $color;
  @include gradient-bg($background);

  @if color-contrast($background) == $color-contrast-light {
    --mdc-ripple-color: #fff;
  } @else {
    --mdc-ripple-color: #000;
    --mdc-ripple-hover-opacity: 0.1;
    --mdc-ripple-focus-opacity: 0.12;
    --mdc-ripple-press-opacity: 0.13;
  }

  &:hover {
    color: $hover-color;
  }

  .btn-check:focus + &,
  &:focus {
    color: $hover-color;
  }

  .btn-check:checked + &,
  .btn-check:active + &,
  &:active,
  &.active,
  .show > &.dropdown-toggle {
    color: $active-color;
  }
}

@mixin button-outline-variant(
  $color,
  $hover-color: color-contrast($color),
  $active-background: $color,
  $active-border: $color,
  $active-color: color-contrast($active-background)
) {
  --mdc-ripple-color: #{$color};
  color: $color;
  border-color: $color;

  &:hover {
    color: $color;
    border-color: $active-border;
  }

  .btn-check:checked + &,
  .btn-check:active + &,
  &:active,
  &.active,
  &.dropdown-toggle.show {
    color: $color;
    border-color: $active-border;
  }
}

@mixin button-text-variant($color) {
  --mdc-ripple-color: #{$color};
  color: $color;

  &:active,
  &.active,
  &:hover,
  &:focus,
  &.focus,
  .show > &.dropdown-toggle {
    color: $color;
  }
}

@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  @include font-size($font-size);
  // Manually declare to provide an override to the browser default
  @include border-radius($border-radius, 0);
}
