{{#> "layouts/layout" }}

    {{#*inline "content"}}
        <h1 class="m-3">Badge</h1>

        <div class="m-3">
            <span class="badge bg-primary">Primary</span>
        </div>

        <div class="m-3">
            <span class="badge rounded-pill bg-success">Success</span>
        </div>

        <div class="m-3">
            <button type="button" class="btn btn-pink-600">
                Notifications <span class="badge bg-yellow text-dark">4</span>
            </button>
        </div>

        <div class="m-3">
            <button type="button" class="btn btn-deep-purple overflow-visible">
                Inbox
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-pink">
                    99+ <span class="visually-hidden">unread messages</span>
                </span>
                <div class="ripple-surface"></div>
            </button>
        </div>

        <div class="m-3">
            <button type="button" class="btn btn-blue-100 overflow-visible">
                Profile
                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-pink border border-light rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                </span>
                <div class="ripple-surface"></div>
            </button>
        </div>
    {{/inline}}

    {{#*inline "scripts"}}
        <script>
            var buttonList = [].slice.call(document.querySelectorAll('.btn:not(.overflow-visible)'))
            buttonList.map(function (button) {
                new materialstyle.MDCRipple(button)
            })

            var rippleSurfaces = [].slice.call(document.querySelectorAll('.ripple-surface'))
            rippleSurfaces.map(function (surface) {
                new materialstyle.MDCRipple(surface)
            })
        </script>
    {{/inline}}

{{/"layouts/layout"}}
