{{#> "layouts/layout" }}

  {{#*inline "content"}}
    <h1 class="m-3">Card</h1>

    <div class="card bg-purple bg-opacity-10 m-3" style="max-width:400px">
      <div class="card-body">
        <h4 class="card-title text-purple">Unlimited Music</h4>
        <p class="card-text">
          Listen to your favourite artists and albums whenever wherever online
          and offline
        </p>
      </div>
      <div class="d-flex justify-content-between align-items-center flex-wrap p-2">
        <button type="button" class="btn btn-text-purple">
          Listen Now
        </button>

        <div>
          <button type="button" class="btn btn-fab mini-fab btn-purple m-1">
            <i class="bi bi-heart-fill"></i>
          </button>
          <button type="button" class="btn btn-fab mini-fab btn-purple m-1">
            <i class="bi bi-share-fill"></i>
          </button>
          <button type="button" class="btn btn-fab mini-fab btn-purple m-1">
            <i class="bi bi-three-dots-vertical"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="card border border-purple m-3" style="max-width:400px">
      <div class="card-body">
        <h4 class="card-title text-purple">Unlimited Music</h4>
        <p class="card-text">
          Listen to your favourite artists and albums whenever wherever online
          and offline
        </p>
      </div>
      <div class="d-flex justify-content-between align-items-center flex-wrap p-2">
        <button type="button" class="btn btn-text-purple">
          Listen Now
        </button>

        <div>
          <button type="button" class="btn btn-fab mini-fab btn-purple m-1">
            <i class="bi bi-heart-fill"></i>
          </button>
          <button type="button" class="btn btn-fab mini-fab btn-purple m-1">
            <i class="bi bi-share-fill"></i>
          </button>
          <button type="button" class="btn btn-fab mini-fab btn-purple m-1">
            <i class="bi bi-three-dots-vertical"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="card bg-indigo bg-opacity-10 m-3" style="max-width: 400px;">
      <img class="card-img-top lazy" src="https://materialstyle.github.io/assets/images/suv.jpg" alt="Card image"/>
      <div class="card-body">
        <h4 class="card-title">SUV</h4>
        <p class="card-text">
          An SUV is a powerful vehicle with four-wheel drive that can be
          driven over rough ground. SUV is an abbreviation for 'sport utility
          vehicle'.
        </p>
      </div>
      <div class="d-flex justify-content-between align-items-center flex-wrap p-2">
        <div>
          <button type="button" class="btn btn-text-indigo">Read</button>
          <button type="button" class="btn btn-text-indigo">Bookmark</button>
        </div>
        <div>
          <button type="button" class="btn btn-fab mini-fab btn-text-dark m-1">
            <i class="bi bi-heart-fill"></i>
          </button>
          <button type="button" class="btn btn-fab mini-fab btn-text-dark m-1">
            <i class="bi bi-share-fill"></i>
          </button>
          <button type="button" class="btn btn-fab mini-fab btn-text-dark m-1">
            <i class="bi bi-three-dots-vertical"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="card m-3" style="max-width:400px">
      <img class="card-img-top lazy" src="https://materialstyle.github.io/assets/images/butterfly.jpg"
           alt="Card image"/>
      <div class="card-img-overlay">
        <h4 class="card-title text-white">Butterfly</h4>
        <p class="card-text text-white">
          There is nothing in a caterpillar that tells you it's going to be a
          butterfly.
        </p>
      </div>
      <div class="d-flex justify-content-between align-items-center flex-wrap p-2 bg-yellow bg-opacity-10">
        <div>
          <button type="button" class="btn btn-text-red">Read</button>
          <button type="button" class="btn btn-text-red">Bookmark</button>
        </div>
        <div>
          <button type="button" class="btn btn-fab mini-fab btn-text-dark m-1">
            <i class="bi bi-heart-fill"></i>
          </button>
          <button type="button" class="btn btn-fab mini-fab btn-text-dark m-1">
            <i class="bi bi-share-fill"></i>
          </button>
          <button type="button" class="btn btn-fab mini-fab btn-text-dark m-1">
            <i class="bi bi-three-dots-vertical"></i>
          </button>
        </div>
      </div>
    </div>

  {{/inline}}

  {{#*inline "scripts"}}
    <script>
      var buttonList = [].slice.call(document.querySelectorAll('.btn'))
      buttonList.map(function (button) {
        new materialstyle.Ripple(button)
      })
    </script>
  {{/inline}}

{{/"layouts/layout"}}
