<!DOCTYPE html>
<html>
<head>
    <title>Drawer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../dist/css/materialstyle.min.css"/>
    <style>
        footer {
            padding: 15px;
        }

        .sample {
            padding: 35px;
            text-align: center;
            font-size: 40px;
            color: #ffffff;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-pink-900 navbar-dark">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <button class="drawer-toggler me-2">
                <span class="drawer-toggler-icon"></span>
            </button>
            <a class="navbar-brand d-flex align-items-center" href="javascript:">
                <i class="bi bi-star-fill me-2"></i>Brand
            </a>
        </div>
    </div>
</nav>

<div class="d-flex flex-nowrap">
    <aside class="drawer drawer-light bg-pink-50">
        <div class="drawer-header bg-pink-900 text-light">
            <a class="drawer-brand text-light" href="javascript:">
                <i class="bi bi-star-fill me-2"></i>Brand
            </a>
            <button type="button" class="btn-close btn-close-white" aria-label="Close"></button>
        </div>
        <div class="drawer-body">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:">
                        Link
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:">
                        Link
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       data-bs-toggle="collapse"
                       href="#menuA"
                       role="button"
                       aria-expanded="false"
                       aria-controls="menuA">
                        Menu A
                    </a>
                    <div class="collapse" id="menuA">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link ps-4" href="javascript:">
                                    Menu Item
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link ps-4" href="javascript:">
                                    Menu Item
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       data-bs-toggle="collapse"
                       href="#menuB"
                       role="button"
                       aria-expanded="false"
                       aria-controls="menuB">
                        Menu B
                    </a>
                    <div class="collapse" id="menuB">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link ps-4" href="javascript:">
                                    Menu Item
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link ps-4" href="javascript:">
                                    Menu Item
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       data-bs-toggle="collapse"
                       href="#menuC"
                       role="button"
                       aria-expanded="false"
                       aria-controls="menuC">
                        Menu C
                    </a>
                    <div class="collapse" id="menuC">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link ps-4" href="javascript:">
                                    Menu Item
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link ps-4" href="javascript:">
                                    Menu Item
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:">
                        Link
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:">
                        Link
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <div class="m-container">

        <div class="p-3">
            <label class="sample bg-pink-900">
                S<br>O<br>M<br>E<br><br>
                I<br>N<br>T<br>E<br>R<br>E<br>S<br>T<br>I<br>N<br>G<br><br>
                S<br>T<br>U<br>F<br>F
            </label>
        </div>

        <footer class="bg-dark text-white">
            Footer
        </footer>
    </div>
</div>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<script src="../dist/js/materialstyle.min.js"></script>
<script>
    // Without jQuery
    var drawers = [].slice.call(document.querySelectorAll('.drawer'))
    var drawerList = drawers.map(function (drawer) {
        return new materialstyle.Drawer(drawer)
    })

    // With jQuery
    // $(function(){
    //   $('.drawer').drawer()
    // })
</script>
</body>
</html>
