<!DOCTYPE html>
<html>
<head>
    <title>Drawer (Always Visible)</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../dist/css/materialstyle.min.css"/>
    <style>
        footer {
            padding: 15px;
        }

        .sample {
            padding: 35px;
            text-align: center;
            font-size: 40px;
            color: #ffffff;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-blue navbar-dark">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <button class="drawer-toggler">
                <span class="drawer-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="javascript:">
                Brand
            </a>
        </div>
    </div>
</nav>

<section class="m-root">
    <aside class="drawer drawer-visible bg-light shadow-4dp">
        <div class="drawer-header bg-dark text-light">
            <a class="drawer-brand text-light" href="javascript:">
                Brand
            </a>
            <button type="button" class="btn-close btn-close-white drawer-close-btn" aria-label="Close"></button>
        </div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link text-dark" href="javascript:">
                    Link
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="javascript:">
                    Link
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark sub-menu-link" href="javascript:">
                    Menu A <i class="bi bi-chevron-down"></i>
                </a>
            </li>
            <li class="nav-item sub-menu-container">
                <ul class=" nav flex-column sub-menu" data-ic-class="sub-menu">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="javascript:">
                            Menu Item
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="javascript:">
                            Menu Item
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark sub-menu-link" href="javascript:">
                    Menu B <i class="bi bi-chevron-down"></i>
                </a>
            </li>
            <li class="nav-item sub-menu-container">
                <ul class=" nav flex-column sub-menu" data-ic-class="sub-menu">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="javascript:">
                            Menu Item
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="javascript:">
                            Menu Item
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>
    <div class="m-container">
        <label class="sample bg-blue">
            S<br>O<br>M<br>E<br><br>
            I<br>N<br>T<br>E<br>R<br>E<br>S<br>T<br>I<br>N<br>G<br><br>
            S<br>T<br>U<br>F<br>F
        </label>
    </div>
</section>

<footer class="bg-dark text-white">
    Footer
</footer>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<script src="../dist/js/materialstyle.min.js"></script>
<script>
  // Without jQuery
  var drawers = [].slice.call(document.querySelectorAll('.drawer'))
  var drawerList = drawers.map(function (drawer) {
    return new materialstyle.Drawer(drawer)
  })

  // With jQuery
  // $(function(){
  //   $('.drawer').drawer()
  // })
</script>
</body>
</html>
