{{#> "layouts/layout" }}

    {{#*inline "content"}}
        <h1 class="m-3">Dropdown</h1>

        <div class="m-3">
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                    Dropdown button
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                </div>
            </div>
        </div>

        <div class="m-3">
            <div class="btn-group">
                <button type="button" class="btn btn-red">Canon</button>
                <button type="button" class="btn btn-red">Nikon</button>
                <div class="btn-group">
                    <button type="button" class="btn btn-red dropdown-toggle" data-bs-toggle="dropdown">
                        Sony
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Tablet</a>
                        <a class="dropdown-item" href="#">Smartphone</a>
                    </div>
                </div>
            </div>
        </div>
    {{/inline}}

{{/"layouts/layout"}}

