<!DOCTYPE html>
<html>
<head>
    <title>Elevation</title>
    <link rel="stylesheet" href="../dist/css/materialstyle.min.css"/>
</head>
<body>
<h1 class="m-3">Elevation</h1>

<div class="m-3">
    <div class="raised-2dp" style="width:160px; height:80px; text-align: center;">
        <label style="padding:28px; display:block;">Raised 2dp</label>
    </div>
</div>

<div class="m-3">
    <div class="raised-4dp" style="width:160px; height:80px; text-align: center;">
        <label style="padding:28px; display:block;">Raised 4dp</label>
    </div>
</div>

</body>
</html>
