{{#> "layouts/layout" }}

    {{#*inline "scripts"}}
        <style>
            .list-group {
                max-width: 300px;
            }
        </style>
    {{/inline}}

    {{#*inline "content"}}
        <h1 class="m-3">List</h1>

        <div class="m-3">
            <ul class="list-group">
                <li class="list-group-item active">First item</li>
                <li class="list-group-item">Second item</li>
                <li class="list-group-item">Third item</li>
            </ul>
        </div>

        <div class="m-3">
            <ul class="list-group">
                <li class="list-group-item list-group-item-primary">First item</li>
                <li class="list-group-item list-group-item-success">Second item</li>
                <li class="list-group-item list-group-item-danger">Third item</li>
            </ul>
        </div>

        <div class="m-3">
            <div class="list-group">
                <a href="javascript:" class="list-group-item list-group-item-action">First item</a>
                <a href="javascript:" class="list-group-item list-group-item-action">Second item</a>
                <a href="javascript:" class="list-group-item list-group-item-action">Third item</a>
            </div>
        </div>

        <div class="m-3">
            <div class="list-group">
                <label class="list-group-item list-group-item-action d-flex gap-3">
                    <input class="form-check-input flex-shrink-0" type="checkbox" value="" checked="">
                    First checkbox
                </label>
                <label class="list-group-item list-group-item-action d-flex gap-3">
                    <input class="form-check-input flex-shrink-0" type="checkbox" value="">
                    Second checkbox
                </label>
                <label class="list-group-item list-group-item-action d-flex gap-3">
                    <input class="form-check-input flex-shrink-0" type="checkbox" value="">
                    Third checkbox
                </label>
            </div>
        </div>

        <div class="m-3">
            <div class="list-group">
                <label class="list-group-item list-group-item-action d-flex gap-3">
                    <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios"
                           id="listGroupRadios1" value="" checked="">
                    First radio
                </label>
                <label class="list-group-item list-group-item-action d-flex gap-3">
                    <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios"
                           id="listGroupRadios2" value="">
                    Second radio
                </label>
                <label class="list-group-item list-group-item-action d-flex gap-3">
                    <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios"
                           id="listGroupRadios3" value="">
                    Third radio
                </label>
            </div>
        </div>

        <div class="m-3">
            <ul class="list-group">
                <li class="list-group-item d-flex gap-3">
                    <i class="bi bi-heart-fill"></i>
                    Love It
                </li>
                <li class="list-group-item d-flex gap-3">
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                    Like It
                </li>
                <li class="list-group-item d-flex gap-3">
                    <i class="bi bi-hand-thumbs-down-fill"></i>
                    Hate It
                </li>
            </ul>
        </div>

        <div class="m-3">
            <ul class="list-group">
                <li class="list-group-item">
                    Line item
                    <small class="d-block text-muted">Secondary text</small>
                </li>
                <li class="list-group-item">
                    Line item
                    <small class="d-block text-muted">Secondary text</small>
                </li>
                <li class="list-group-item">
                    Line item
                    <small class="d-block text-muted">Secondary text</small>
                </li>
            </ul>
        </div>

        <div class="m-3">
            <ul class="list-group">
                <li class="list-group-item d-flex align-items-center gap-3">
                    <i class="bi bi-folder-fill"></i>
                    <span>
                        Landscape
                        <small class="d-block text-muted">29 Aug 2018</small>
                    </span>
                </li>
                <li class="list-group-item d-flex align-items-center gap-3">
                    <i class="bi bi-folder-fill"></i>
                    <span>
                        Wildlife
                        <small class="d-block text-muted">18 Aug 2018</small>
                    </span>
                </li>
                <li class="list-group-item d-flex align-items-center gap-3">
                    <i class="bi bi-folder-fill"></i>
                    <span>
                        Fashion
                        <small class="d-block text-muted">22 Aug 2018</small>
                    </span>
                </li>
            </ul>
        </div>

        <div class="m-3">
            <ul class="list-group">
                <li class="list-group-item d-flex align-items-center gap-3">
                    <i class="bi bi-folder-fill"></i>
                    <span class="flex-grow-1">
                        Landscape
                        <small class="d-block text-muted">29 Aug 2018</small>
                    </span>
                    <i class="bi bi-info-circle-fill"></i>
                </li>
                <li class="list-group-item d-flex align-items-center gap-3">
                    <i class="bi bi-folder-fill"></i>
                    <span class="flex-grow-1">
                        Wildlife
                        <small class="d-block text-muted">18 Aug 2018</small>
                    </span>
                    <i class="bi bi-info-circle-fill"></i>
                </li>
                <li class="list-group-item d-flex align-items-center gap-3">
                    <i class="bi bi-folder-fill"></i>
                    <span class="flex-grow-1">
                        Fashion
                        <small class="d-block text-muted">22 Aug 2018</small>
                    </span>
                    <i class="bi bi-info-circle-fill"></i>
                </li>

                <li class="list-group-item list-divider"></li>

                <li class="list-group-item d-flex align-items-center gap-3">
                    <i class="bi bi-folder-fill"></i>
                    <span class="flex-grow-1">
                        4K
                        <small class="d-block text-muted">21 Aug 2018</small>
                    </span>
                    <i class="bi bi-info-circle-fill"></i>
                </li>
                <li class="list-group-item d-flex align-items-center gap-3">
                    <i class="bi bi-folder-fill"></i>
                    <span class="flex-grow-1">
                        HD
                        <small class="d-block text-muted">15 Aug 2018</small>
                    </span>
                    <i class="bi bi-info-circle-fill"></i>
                </li>
            </ul>
        </div>
    {{/inline}}

{{/"layouts/layout"}}
