{{#> "layouts/layout" }}

  {{#*inline "content"}}
    <h1 class="m-3">Range Slider</h1>

    <div class="m-3">
      <label for="customRange">Range</label>
      <input type="range" class="form-range" id="customRange">
    </div>

    <div class="m-3">
      <label for="customRange1">Disabled Range</label>
      <input type="range" class="form-range" id="customRange1" disabled>
    </div>
  {{/inline}}

{{/"layouts/layout"}}
