{{#> "layouts/layout" }}

  {{#*inline "content"}}
    <h1 class="m-3">Select</h1>

    <div class="container-fluid">
      <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-sm-6">
            <h3 class="m-3">Filled</h3>

            <div class="m-3">
              <fieldset class="form-floating">
                <select class="form-select" required>
                  <option value=""></option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                  <option value="4">Option 4</option>
                </select>
                <label>Select One</label>
              </fieldset>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Doesn't look good!
              </div>
            </div>

            <div class="m-3">
              <fieldset class="form-floating base-blue primary-pink">
                <select class="form-select" required>
                  <option value=""></option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                  <option value="4">Option 4</option>
                </select>
                <label>Select One</label>
              </fieldset>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Doesn't look good!
              </div>
            </div>

            <div class="m-3">
              <fieldset class="form-floating searchable">
                <select class="form-select" required>
                  <option value=""></option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                  <option value="4">Option 4</option>
                </select>
                <label>Searchable</label>
              </fieldset>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Doesn't look good!
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <h3 class="m-3">Outlined</h3>

            <div class="m-3">
              <fieldset class="form-floating form-floating--outlined">
                <select class="form-select" required>
                  <option value=""></option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                  <option value="4">Option 4</option>
                </select>
                <label>Select One</label>
              </fieldset>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Doesn't look good!
              </div>
            </div>

            <div class="m-3">
              <fieldset class="form-floating form-floating--outlined base-blue primary-pink">
                <select class="form-select" required>
                  <option value=""></option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                  <option value="4">Option 4</option>
                </select>
                <label>Select One</label>
              </fieldset>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Doesn't look good!
              </div>
            </div>

            <div class="m-3">
              <fieldset class="form-floating form-floating--outlined searchable">
                <select class="form-select" required>
                  <option value=""></option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                  <option value="4">Option 4</option>
                </select>
                <label>Searchable</label>
              </fieldset>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Doesn't look good!
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="m-3">
              <div class="input-group has-validation">
                <fieldset class="form-floating">
                  <select class="form-select" required>
                    <option value=""></option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                  </select>
                  <label>Select One</label>
                </fieldset>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Doesn't look good!
                </div>
                <div class="input-group-text prepend">
                  <i class="bi bi-star-fill"></i>
                </div>
              </div>
            </div>

            <div class="m-3">
              <div class="input-group has-validation">
                <fieldset class="form-floating">
                  <select class="form-select" required>
                    <option value=""></option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                  </select>
                  <label>Select One</label>
                </fieldset>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Doesn't look good!
                </div>
                <div class="input-group-text append">
                  <i class="bi bi-star-fill"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="m-3">
              <div class="input-group has-validation">
                <fieldset class="form-floating form-floating--outlined">
                  <select class="form-select" required>
                    <option value=""></option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                  </select>
                  <label>Select One</label>
                </fieldset>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Doesn't look good!
                </div>
                <div class="input-group-text prepend">
                  <i class="bi bi-star-fill"></i>
                </div>
              </div>
            </div>

            <div class="m-3">
              <div class="input-group has-validation">
                <fieldset class="form-floating form-floating--outlined">
                  <select class="form-select" required>
                    <option value=""></option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                  </select>
                  <label>Select One</label>
                </fieldset>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Doesn't look good!
                </div>
                <div class="input-group-text append">
                  <i class="bi bi-star-fill"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h3 class="m-3">Multi Select</h3>

        <div class="row">
          <div class="col-sm-6">
            <div class="m-3">
              <fieldset class="form-floating multi-select">
                <select class="form-select" name="cars[]" multiple required>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                  <option value="4">Option 4</option>
                </select>
                <label>Select</label>
              </fieldset>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Doesn't look good!
              </div>
            </div>

            <div class="m-3">
              <fieldset class="form-floating multi-select searchable">
                <select class="form-select" name="cars[]" multiple required>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                  <option value="4">Option 4</option>
                </select>
                <label>Searchable</label>
              </fieldset>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Doesn't look good!
              </div>
            </div>

            <div class="m-3">
              <div class="input-group has-validation">
                <fieldset class="form-floating multi-select">
                  <select class="form-select" name="cars[]" multiple required>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                  </select>
                  <label>Select</label>
                </fieldset>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Doesn't look good!
                </div>
                <div class="input-group-text prepend">
                  <i class="bi bi-star-fill"></i>
                </div>
              </div>
            </div>

            <div class="m-3">
              <div class="input-group has-validation">
                <fieldset class="form-floating multi-select">
                  <select class="form-select" name="cars[]" multiple required>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                  </select>
                  <label>Select</label>
                </fieldset>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Doesn't look good!
                </div>
                <div class="input-group-text append">
                  <i class="bi bi-star-fill"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="m-3">
              <fieldset class="form-floating form-floating--outlined multi-select">
                <select class="form-select" name="cars[]" multiple required>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                  <option value="4">Option 4</option>
                </select>
                <label>Select</label>
              </fieldset>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Doesn't look good!
              </div>
            </div>

            <div class="m-3">
              <fieldset class="form-floating form-floating--outlined multi-select searchable">
                <select class="form-select" name="cars[]" multiple required>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                  <option value="4">Option 4</option>
                </select>
                <label>Searchable</label>
              </fieldset>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Doesn't look good!
              </div>
            </div>

            <div class="m-3">
              <div class="input-group has-validation">
                <fieldset class="form-floating form-floating--outlined multi-select">
                  <select class="form-select" name="cars[]" multiple required>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                  </select>
                  <label>Select</label>
                </fieldset>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Doesn't look good!
                </div>
                <div class="input-group-text prepend">
                  <i class="bi bi-star-fill"></i>
                </div>
              </div>
            </div>

            <div class="m-3">
              <div class="input-group has-validation">
                <fieldset class="form-floating form-floating--outlined multi-select">
                  <select class="form-select" name="cars[]" multiple required>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                  </select>
                  <label>Select</label>
                </fieldset>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Doesn't look good!
                </div>
                <div class="input-group-text append">
                  <i class="bi bi-star-fill"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="offset-sm-4 col-sm-4 mb-3">
            <button type="submit" class="btn btn-primary w-100">Submit</button>
          </div>
        </div>
      </form>

      <div class="row">
        <div class="offset-sm-4 col-sm-4 mb-3">
          <h3 class="m-3">Adding new options</h3>
          <div class="m-3">
            <div class="form-floating" id="cars-container">
              <select class="form-select" id="cars" required>
                <option value="Audi">Audi</option>
                <option value="BMW">BMW</option>
                <option value="Buggati">Buggati</option>
                <option value="Koenigsegg">Koenigsegg</option>
              </select>
              <label for="cars">Cars</label>
            </div>
          </div>

          <button onclick="addOption()" type="button" class="btn btn-dark w-100">Add option "Lamborghini"</button>
        </div>
      </div>
    </div>
  {{/inline}}

  {{#*inline "jQuery"}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {{/inline}}

  {{#*inline "scripts"}}
    <script>
      function addOption() {
        var select = document.getElementById("cars");
        var option = document.createElement("option");
        option.text = "Lamborghini";
        option.value = "Lamborghini";
        select.add(option);

        var selectField = document.querySelector('#cars-container');
        var selectFieldInstance = materialstyle.SelectField.getOrCreateInstance(selectField)
        selectFieldInstance.rebuild();
      }

      (function () {
        'use strict'

        // Without jQuery
        var selectList = [].slice.call(document.querySelectorAll('.form-floating'))
        var selects = selectList.map(function (select) {
          return new materialstyle.SelectField(select)
        })

        // Example starter JavaScript for disabling form submissions if there are invalid fields
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
          .forEach(function (form) {
            form.addEventListener('submit', function (event) {
              if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
              }

              form.classList.add('was-validated')
            }, false)
          })
      })()

      // With jQuery
      // $(function () {
      //     $('.form-floating').selectfield();
      // });
    </script>
  {{/inline}}

{{/"layouts/layout"}}
