{{#> "layouts/layout" }}

    {{#*inline "content"}}
        <h1 class="m-3">Select</h1>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="m-3">Filled</h3>

                    <div class="m-3">
                        <div class="m-select">
                            <label class="static-label">Static Label</label>
                            <select class="form-control">
                                <option value=""></option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                            </select>
                        </div>
                    </div>

                    <div class="m-3">
                        <div class="m-select">
                            <label class="floating-label">Floating Label</label>
                            <select class="form-control">
                                <option value=""></option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                            </select>
                        </div>
                    </div>

                    <div class="m-3">
                        <div class="m-select primary-blue accent-pink">
                            <label class="floating-label">Label</label>
                            <select class="form-control">
                                <option value=""></option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                            </select>
                        </div>
                    </div>

                    <div class="m-3">
                        <div class="m-select searchable">
                            <label class="floating-label">Searchable</label>
                            <select class="form-control">
                                <option value=""></option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <h3 class="m-3">Outlined</h3>

                    <div class="m-3">
                        <div class="m-select-outline">
                            <label class="static-label">Static Label</label>
                            <select class="form-control">
                                <option value=""></option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                            </select>
                        </div>
                    </div>

                    <div class="m-3">
                        <div class="m-select-outline">
                            <label class="floating-label">Floating Label</label>
                            <select class="form-control">
                                <option value=""></option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                            </select>
                        </div>
                    </div>

                    <div class="m-3">
                        <div class="m-select-outline primary-blue accent-pink">
                            <label class="floating-label bg-white">Label</label>
                            <select class="form-control">
                                <option value=""></option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                            </select>
                        </div>
                    </div>

                    <div class="m-3">
                        <div class="m-select-outline searchable">
                            <label class="floating-label">Searchable</label>
                            <select class="form-control">
                                <option value=""></option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="m-3">
                        <div class="m-select">
                            <div class="prepend">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <label class="static-label">Static Label</label>
                            <select class="form-control">
                                <option value=""></option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                            </select>
                        </div>
                    </div>

                    <div class="m-3">
                        <div class="m-select">
                            <div class="prepend">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <label class="floating-label">Floating Label</label>
                            <select class="form-control">
                                <option value=""></option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                            </select>
                        </div>
                    </div>

                    <div class="m-3">
                        <div class="m-select">
                            <div class="append">
                                <i class="bi bi-keyboard-fill"></i>
                            </div>
                            <label class="floating-label">Floating Label</label>
                            <select class="form-control">
                                <option value=""></option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="m-3">
                        <div class="m-select-outline">
                            <div class="prepend">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <label class="static-label">Static Label</label>
                            <select class="form-control">
                                <option value=""></option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                            </select>
                        </div>
                    </div>

                    <div class="m-3">
                        <div class="m-select-outline">
                            <div class="prepend">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <label class="floating-label">Floating Label</label>
                            <select class="form-control">
                                <option value=""></option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                            </select>
                        </div>
                    </div>

                    <div class="m-3">
                        <div class="m-select-outline">
                            <div class="append">
                                <i class="bi bi-keyboard-fill"></i>
                            </div>
                            <label class="floating-label">Floating Label</label>
                            <select class="form-control">
                                <option value=""></option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="m-3">Multi Select</h3>

            <div class="row">
                <div class="col-sm-6">
                    <div class="m-3">
                        <div class="m-select multi-select">
                            <label class="static-label">Static Label</label>
                            <select class="form-control" name="cars[]" multiple>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                            </select>
                        </div>
                    </div>

                    <div class="m-3">
                        <div class="m-select multi-select searchable">
                            <label class="floating-label">Searchable</label>
                            <select class="form-control" name="cars[]" multiple>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                            </select>
                        </div>
                    </div>

                    <div class="m-3">
                        <div class="m-select multi-select">
                            <div class="prepend">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <label class="static-label">Static Label</label>
                            <select class="form-control" name="cars[]" multiple>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                            </select>
                        </div>
                    </div>

                    <div class="m-3">
                        <div class="m-select multi-select">
                            <div class="prepend">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <label class="floating-label">Floating Label</label>
                            <select class="form-control" name="cars[]" multiple>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                            </select>
                        </div>
                    </div>

                    <div class="m-3">
                        <div class="m-select multi-select">
                            <div class="prepend">
                                Prepend <i class="bi bi-person-circle"></i>
                            </div>
                            <select class="form-control" name="cars[]" multiple>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="m-3">
                        <div class="m-select-outline multi-select">
                            <label class="static-label">Static Label</label>
                            <select class="form-control" name="cars[]" multiple>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                            </select>
                        </div>
                    </div>

                    <div class="m-3">
                        <div class="m-select-outline multi-select searchable">
                            <label class="floating-label">Searchable</label>
                            <select class="form-control" name="cars[]" multiple>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                            </select>
                        </div>
                    </div>

                    <div class="m-3">
                        <div class="m-select-outline multi-select">
                            <div class="prepend">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <label class="static-label">Static Label</label>
                            <select class="form-control" name="cars[]" multiple>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                            </select>
                        </div>
                    </div>

                    <div class="m-3">
                        <div class="m-select-outline multi-select">
                            <div class="prepend">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <label class="floating-label">Floating Label</label>
                            <select class="form-control" name="cars[]" multiple>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                            </select>
                        </div>
                    </div>

                    <div class="m-3">
                        <div class="m-select-outline multi-select">
                            <div class="prepend">
                                Prepend <i class="bi bi-person-circle"></i>
                            </div>
                            <select class="form-control" name="cars[]" multiple>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/inline}}

    {{#*inline "jQuery"}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {{/inline}}

    {{#*inline "scripts"}}
        <script>
            // Without jQuery
            // var buttonList = [].slice.call(document.querySelectorAll('.btn'))
            // var rippleList = buttonList.map(function (button) {
            //     return new materialstyle.Ripple(button)
            // })
            //
            // var fileInputList = [].slice.call(document.querySelectorAll('.m-file-input'))
            // var fileInputs = fileInputList.map(function (button) {
            //     return new materialstyle.FileInput(button)
            // })

            // With jQuery
            $(function () {
                $('.m-select').selectfield();
                $('.m-select-outline').selectfield();
            });
        </script>
    {{/inline}}

{{/"layouts/layout"}}
