{{#> "layouts/layout" }}

    {{#*inline "content"}}
        <h1 class="m-3">Shape</h1>

        <div class="m-3">
            <!-- Angle on all sides -->
            <div class="m-shape-container shape-parent-bg-white">
                <button type="button" class="btn btn-purple">
                    Button
                </button>
                <div class="angle-top-left"></div>
                <div class="angle-top-right"></div>
                <div class="angle-bottom-left"></div>
                <div class="angle-bottom-right"></div>
            </div>
        </div>

        <div class="m-3">
            <!-- Angle on top right and bottom left -->
            <div class="m-shape-container shape-parent-bg-white">
                <button type="button" class="btn btn-purple">
                    Button
                </button>
                <div class="angle-top-right"></div>
                <div class="angle-bottom-left"></div>
            </div>
        </div>

        <div class="m-3">
            <!-- Angle on all sides -->
            <div class="m-shape-container shape-parent-bg-white">
                <button type="button" class="btn btn-outline-purple">
                    Button
                </button>
                <div class="angle-top-left"></div>
                <div class="angle-top-right"></div>
                <div class="angle-bottom-left"></div>
                <div class="angle-bottom-right"></div>
            </div>
        </div>

        <div class="m-3">
            <!-- Angle on top right and bottom left -->
            <div class="m-shape-container shape-parent-bg-white">
                <button type="button" class="btn btn-outline-purple">
                    Button
                </button>
                <div class="angle-top-right"></div>
                <div class="angle-bottom-left"></div>
            </div>
        </div>

        <div class="m-3">
            <div class="m-shape-container shape-parent-bg-white">
                <div class="card bg-purple bg-opacity-10" style="max-width:400px">
                    <div class="card-body">
                        <h4 class="card-title text-purple">Unlimited Music</h4>
                        <p class="card-text">
                            Listen to your favourite artists and albums whenever wherever online
                            and offline
                        </p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center flex-wrap p-2">
                        <button type="button" class="btn btn-text-purple">
                            Listen Now
                        </button>

                        <div>
                            <button type="button" class="btn btn-fab mini-fab btn-purple m-1">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <button type="button" class="btn btn-fab mini-fab btn-purple m-1">
                                <i class="bi bi-share-fill"></i>
                            </button>
                            <button type="button" class="btn btn-fab mini-fab btn-purple m-1">
                                <i class="bi bi-three-dots-vertical"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="angle-top-right size-50"></div>
            </div>
        </div>

        <div class="m-3">
            <div class="m-shape-container shape-parent-bg-white">
                <div class="card border border-purple" style="max-width:400px">
                    <div class="card-body">
                        <h4 class="card-title text-purple">Unlimited Music</h4>
                        <p class="card-text">
                            Listen to your favourite artists and albums whenever wherever online
                            and offline
                        </p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center flex-wrap p-2">
                        <button type="button" class="btn btn-text-purple">
                            Listen Now
                        </button>

                        <div>
                            <button type="button" class="btn btn-fab mini-fab btn-purple m-1">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <button type="button" class="btn btn-fab mini-fab btn-purple m-1">
                                <i class="bi bi-share-fill"></i>
                            </button>
                            <button type="button" class="btn btn-fab mini-fab btn-purple m-1">
                                <i class="bi bi-three-dots-vertical"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="angle-top-right size-50 border border-bottom border-purple"></div>
            </div>
        </div>

        <div class="m-3">
            <div class="m-shape-container shape-parent-bg-white">
                <div class="bg-purple bg-opacity-10 border border-bottom border-2 border-purple" style="height: 200px; width: 400px;"></div>
                <div class="angle-top-left size-50 border border-bottom border-2 border-purple"></div>
                <div class="angle-top-right size-50 border border-bottom border-2 border-purple"></div>
                <div class="angle-bottom-left size-50 border border-bottom border-2 border-purple"></div>
                <div class="angle-bottom-right size-50 border border-bottom border-2 border-purple"></div>
            </div>
        </div>
    {{/inline}}

    {{#*inline "jQuery"}}
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
    {{/inline}}

    {{#*inline "scripts"}}
        <script>
            // Without jQuery
            var shapeList = [].slice.call(document.querySelectorAll('.m-shape-container'))
            var shapes = shapeList.map(function (s) {
                return new materialstyle.Shape(s)
            })

            var buttonList = [].slice.call(document.querySelectorAll('.btn'))
            buttonList.map(function (button) {
                new materialstyle.Ripple(button)
            })

            // With jQuery
            // $(function () {
            //     $('.m-shape-container').shape();
            // });
        </script>
    {{/inline}}

{{/"layouts/layout"}}
