{{#> "layouts/layout" }}

    {{#*inline "content"}}
        <h1 class="m-3">Snackbar</h1>

        <div class="m-3">
            <button type="button" class="btn btn-indigo" id="show-snackbar">Show Snackbar</button>
        </div>

        <div class="m-3">
            <button type="button" class="btn btn-indigo" id="show-snackbar-5000">Show Snackbar for 5000ms</button>
        </div>

        <div class="m-3">
            <button type="button" class="btn btn-indigo" id="show-snackbar-dismissible">Dismissible snackbar</button>
        </div>

        <div class="snackbar" id="snackbar">This is a Snackbar.</div>
        <div class="snackbar" id="snackbar-5000">This is a Snackbar with visible duration of 5000ms.</div>
        <div class="snackbar" id="snackbar-close">
            Close this snackbar
            <button type="button" class="btn btn-text-yellow" data-dismiss="snackbar">
                Dismiss
            </button>
        </div>
    {{/inline}}

    {{#*inline "jQuery"}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {{/inline}}

    {{#*inline "scripts"}}
        <script>
            // Without jQuery
            // var buttonList = [].slice.call(document.querySelectorAll('.btn'))
            // var rippleList = buttonList.map(function (button) {
            //     return new materialstyle.Ripple(button)
            // })
            //
            // var fileInputList = [].slice.call(document.querySelectorAll('.m-file-input'))
            // var fileInputs = fileInputList.map(function (button) {
            //     return new materialstyle.FileInput(button)
            // })

            // With jQuery
            $(function(){
                $('#show-snackbar').click(function () {
                    $('#snackbar').snackbar();
                });

                $('#show-snackbar-5000').click(function () {
                    $('#snackbar-5000').snackbar({
                        'visibleDuration': 5000
                    });
                });

                $('#show-snackbar-dismissible').click(function () {
                    $('#snackbar-close').snackbar({
                        'autoClose': false
                    });
                });
            })
        </script>
    {{/inline}}

{{/"layouts/layout"}}
