{{#> "layouts/layout" }}

  {{#*inline "content"}}
    <h1 class="m-3">Snackbar</h1>

    <div class="m-3">
      <button type="button" class="btn btn-indigo" id="show-snackbar">Show Snackbar</button>
    </div>

    <div class="m-3">
      <button type="button" class="btn btn-indigo" id="show-snackbar-5000">Show Snackbar for 5000ms</button>
    </div>

    <div class="m-3">
      <button type="button" class="btn btn-indigo" id="show-snackbar-dismissible">Dismissible snackbar</button>
    </div>

    <div class="snackbar" id="snackbar">This is a Snackbar.</div>
    <div class="snackbar" id="snackbar-5000">This is a Snackbar with visible duration of 5000ms.</div>
    <div class="snackbar" id="snackbar-close">
      Close this snackbar
      <button type="button" class="btn btn-text-yellow ms-2" data-bs-dismiss="snackbar">
        Dismiss
      </button>
    </div>
  {{/inline}}

  {{#*inline "jQuery"}}
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
  {{/inline}}

  {{#*inline "scripts"}}
    <script>
      // Without jQuery
      document.querySelector('#show-snackbar').addEventListener('click', function () {
        new materialstyle.Snackbar(document.querySelector('#snackbar'));
      });

      document.querySelector('#show-snackbar-5000').addEventListener('click', function () {
        new materialstyle.Snackbar(document.querySelector('#snackbar-5000'), {
          'visibleDuration': 5000
        });
      });

      document.querySelector('#show-snackbar-dismissible').addEventListener('click', function () {
        new materialstyle.Snackbar(document.querySelector('#snackbar-close'), {
          'autoClose': false
        });
      });

      // With jQuery
      // $(function () {
        // $('#show-snackbar').click(function () {
        //   $('#snackbar').snackbar();
        // });

        // $('#show-snackbar-5000').click(function () {
        //   $('#snackbar-5000').snackbar({
        //     'visibleDuration': 5000
        //   });
        // });

        // $('#show-snackbar-dismissible').click(function () {
        //   $('#snackbar-close').snackbar({
        //     'autoClose': false
        //   });
        // });
      // })
    </script>
  {{/inline}}

{{/"layouts/layout"}}
