{{#> "layouts/layout" }}

    {{#*inline "content"}}
        <h1 class="m-3">Tab</h1>

        <div class="m-3">
            <div class="form-group">
                <ul class="nav nav-tabs nav-justified">
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#apple">Apple</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#apricot">Apricot</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#avocado">Avocado</a>
                    </li>
                </ul>
                <!-- Tab Panes -->
                <div class="tab-content">
                    <div class="tab-pane container-fluid fade" id="apple">Apple</div>
                    <div class="tab-pane container-fluid active" id="apricot">Apricot</div>
                    <div class="tab-pane container-fluid fade" id="avocado">Avocado</div>
                </div>
            </div>
        </div>

        <div class="m-3">
            <div class="form-group">
                <ul class="icon-top nav nav-tabs nav-justified">
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#movies">
                            <i class="bi bi-film"></i> Movies
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#music">
                            <i class="bi bi-music-note-beamed"></i> Music
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#pictures">
                            <i class="bi bi-image"></i> Pictures
                        </a>
                    </li>
                </ul>
                <!-- Tab Panes -->
                <div class="tab-content">
                    <div class="tab-pane container-fluid fade" id="movies">Movies</div>
                    <div class="tab-pane container-fluid active" id="music">Music</div>
                    <div class="tab-pane container-fluid fade" id="pictures">Pictures</div>
                </div>
            </div>
        </div>

        <div class="m-3">
            <div class="form-group">
                <ul class="icon-right nav nav-tabs nav-justified">
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#movies2">
                            <i class="bi bi-film m-1"></i> Movies
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#music2">
                            <i class="bi bi-music-note-beamed m-1"></i> Music
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#pictures2">
                            <i class="bi bi-image m-1"></i> Pictures
                        </a>
                    </li>
                </ul>
                <!-- Tab Panes -->
                <div class="tab-content">
                    <div class="tab-pane container-fluid fade" id="movies2">Movies</div>
                    <div class="tab-pane container-fluid active" id="music2">Music</div>
                    <div class="tab-pane container-fluid fade" id="pictures2">Pictures</div>
                </div>
            </div>
        </div>

        <div class="m-3">
            <div class="form-group">
                <ul class="icon-bottom nav nav-tabs nav-justified">
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#movies3">
                            <i class="bi bi-film"></i> Movies
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#music3">
                            <i class="bi bi-music-note-beamed"></i> Music
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#pictures3">
                            <i class="bi bi-image"></i> Pictures
                        </a>
                    </li>
                </ul>
                <!-- Tab Panes -->
                <div class="tab-content">
                    <div class="tab-pane container-fluid fade" id="movies3">Movies</div>
                    <div class="tab-pane container-fluid active" id="music3">Music</div>
                    <div class="tab-pane container-fluid fade" id="pictures3">Pictures</div>
                </div>
            </div>
        </div>

        <div class="m-3">
            <div class="form-group">
                <ul class="icon-left nav nav-tabs nav-justified">
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#movies4">
                            <i class="bi bi-film m-1"></i> Movies
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#music4">
                            <i class="bi bi-music-note-beamed m-1"></i> Music
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#pictures4">
                            <i class="bi bi-image m-1"></i> Pictures
                        </a>
                    </li>
                </ul>
                <!-- Tab Panes -->
                <div class="tab-content">
                    <div class="tab-pane container-fluid fade" id="movies4">Movies</div>
                    <div class="tab-pane container-fluid active" id="music4">Music</div>
                    <div class="tab-pane container-fluid fade" id="pictures4">Pictures</div>
                </div>
            </div>
        </div>

        <div class="m-3">
            <div class="form-group">
                <ul class="nav nav-tabs nav-justified accent-pink primary-blue">
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#apple1">Apple</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#apricot1">Apricot</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#avocado1">Avocado</a>
                    </li>
                </ul>
                <!-- Tab Panes -->
                <div class="tab-content">
                    <div class="tab-pane container-fluid fade" id="apple1">Apple</div>
                    <div class="tab-pane container-fluid active" id="apricot1">Apricot</div>
                    <div class="tab-pane container-fluid fade" id="avocado1">Avocado</div>
                </div>
            </div>
        </div>

        <div class="m-3">
            <div class="form-group">
                <ul class="nav nav-tabs nav-justified primary-blue accent-pink">
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#apple2">Apple</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#apricot2">Apricot</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#avocado2">Avocado</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#banana2">Banana</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#blackberry2">Blackberry</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#blackcurrant2">Blackcurrant</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#blueberry2">Blueberry</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#boysenberry2">Boysenberry</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#cherry2">Cherry</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#coconut2">Coconut</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#grape2">Grape</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#kiwi2">Kiwi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#lychee2">Lychee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#mango2">Mango</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#melon2">Melon</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#orange2">Orange</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#peach2">Peach</a>
                    </li>
                </ul>
            </div>
        </div>
    {{/inline}}

    {{#*inline "jQuery"}}
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
    {{/inline}}

    {{#*inline "scripts"}}
        <script>
            // Without jQuery
            var navLinks = [].slice.call(document.querySelectorAll('.nav-tabs .nav-link'))
            var rippleList = navLinks.map(function (navLink) {
                return new materialstyle.MDCRipple(navLink)
            })

            var tabs = [].slice.call(document.querySelectorAll('.nav-tabs'))
            var tabList = tabs.map(function (tab) {
                return new materialstyle.Tab(tab)
            })

            // With jQuery
            // $(function () {
            //     $('.nav-tabs').tab();
            //     $('.nav-tabs .nav-link').ripple();
            // });
        </script>
    {{/inline}}

{{/"layouts/layout"}}
