{{#> "layouts/layout" }}

    {{#*inline "content"}}
        <h1 class="m-3">Text Fields</h1>

        <div class="container-fluid">
            <form class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="m-3">Filled</h3>

                        <div class="m-3">
                            <fieldset class="form-floating">
                                <input type="text" class="form-control" id="firstname"
                                       placeholder="firstname" autocomplete="off" required>
                                <label for="firstname">Firstname</label>
                            </fieldset>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Doesn't look good!
                            </div>
                        </div>

                        <h5 class="m-3">Colors</h5>

                        <div class="m-3">
                            <fieldset class="form-floating base-green primary-purple">
                                <input type="text" class="form-control" id="lastname"
                                       placeholder="lastname" autocomplete="off" required>
                                <label for="lastname">Lastname</label>
                            </fieldset>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Doesn't look good!
                            </div>
                        </div>

                        <h5 class="m-3">Input Group</h5>

                        <div class="m-3">
                            <div class="input-group has-validation">
                                <span class="input-group-text prepend">
                                    <i class="bi bi-person-circle"></i>
                                </span>
                                <fieldset class="form-floating">
                                    <input type="email" class="form-control" id="email"
                                           placeholder="Email" autocomplete="off" required>
                                    <label for="email">Email</label>
                                </fieldset>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Doesn't look good!
                                </div>
                            </div>
                        </div>

                        <div class="m-3">
                            <div class="input-group has-validation">
                                <fieldset class="form-floating">
                                    <input type="password" class="form-control" id="password"
                                           placeholder="Password" autocomplete="off" required>
                                    <label for="password">Password</label>
                                </fieldset>
                                <span class="input-group-text append">
                                    <i class="bi bi-keyboard-fill"></i>
                                </span>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Doesn't look good!
                                </div>
                            </div>
                        </div>

                        <h5 class="m-3">Text Area</h5>

                        <div class="m-3">
                            <fieldset class="form-floating">
                                <textarea class="form-control" placeholder="address"
                                          id="address" style="height: 100px" required></textarea>
                                <label for="address">Address</label>
                            </fieldset>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Doesn't look good!
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-6">
                        <h3 class="m-3">Outlined</h3>

                        <div class="m-3">
                            <fieldset class="form-floating form-floating--outlined">
                                <input type="text" class="form-control" id="firstname-outline"
                                       placeholder="firstname" autocomplete="off" required>
                                <label for="firstname-outline">Firstname</label>
                            </fieldset>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Doesn't look good!
                            </div>
                        </div>

                        <h5 class="m-3">Colors</h5>

                        <div class="m-3">
                            <fieldset class="form-floating form-floating--outlined base-green primary-purple">
                                <input type="text" class="form-control" id="lastname-outline"
                                       placeholder="lastname" autocomplete="off" required>
                                <label for="lastname-outline">Lastname</label>
                            </fieldset>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Doesn't look good!
                            </div>
                        </div>

                        <h5 class="m-3">Input Group</h5>

                        <div class="m-3">
                            <div class="input-group has-validation">
                                <span class="input-group-text prepend">
                                    <i class="bi bi-person-circle"></i>
                                </span>
                                <fieldset class="form-floating form-floating--outlined">
                                    <input type="email" class="form-control" id="email-outline"
                                           placeholder="Email" autocomplete="off" required>
                                    <label for="email-outline">Email</label>
                                </fieldset>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Doesn't look good!
                                </div>
                            </div>
                        </div>

                        <div class="m-3">
                            <div class="input-group has-validation">
                                <fieldset class="form-floating form-floating--outlined">
                                    <input type="password" class="form-control" id="password-outline"
                                           placeholder="Password" autocomplete="off" required>
                                    <label for="password-outline">Password</label>
                                </fieldset>
                                <span class="input-group-text append">
                                    <i class="bi bi-keyboard-fill"></i>
                                </span>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Doesn't look good!
                                </div>
                            </div>
                        </div>

                        <h5 class="m-3">Text Area</h5>

                        <div class="m-3">
                            <fieldset class="form-floating form-floating--outlined">
                                <textarea class="form-control" id="address-outline"
                                          placeholder="address" style="height: 100px" required></textarea>
                                <label for="address-outline">Comments</label>
                            </fieldset>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Doesn't look good!
                            </div>
                        </div>

                    </div>

                    <div class="offset-sm-4 col-sm-4 mb-3">
                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    {{/inline}}

    {{#*inline "jQuery"}}
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
    {{/inline}}

    {{#*inline "scripts"}}
        <script>
            // With jQuery
            // $(function(){
            //    $('.form-floating').textfield();
            // });

            (function () {
                'use strict'

                // Without jQuery
                var textFieldList = [].slice.call(document.querySelectorAll('.form-floating'))
                var textFields = textFieldList.map(function (textField) {
                    return new materialstyle.TextField(textField)
                })

                // Example starter JavaScript for disabling form submissions if there are invalid fields
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.querySelectorAll('.needs-validation')

                // Loop over them and prevent submission
                Array.prototype.slice.call(forms)
                        .forEach(function (form) {
                            form.addEventListener('submit', function (event) {
                                if (!form.checkValidity()) {
                                    event.preventDefault()
                                    event.stopPropagation()
                                }

                                form.classList.add('was-validated')
                            }, false)
                        })
            })()
        </script>
    {{/inline}}

{{/"layouts/layout"}}
