{{#> "layouts/layout" }}

  {{#*inline "content"}}
    <h1 class="m-3">Text</h1>

    <div class="m-3">
      <p class="text-muted">text-muted</p>
      <p class="text-primary">text-primary</p>
      <p class="text-success">text-success</p>
      <p class="text-info">text-info</p>
      <p class="text-warning">text-warning</p>
      <p class="text-danger">text-danger</p>
      <p class="text-secondary">text-secondary</p>
      <p class="text-dark">text-dark</p>
      <p class="text-indigo">text-indigo</p>
    </div>
  {{/inline}}

{{/"layouts/layout"}}
