{{#> "layouts/layout" }}

    {{#*inline "content"}}
        <h1 class="m-3">Tooltip</h1>

        <div class="m-3">
            <a href="#" data-bs-toggle="tooltip" title="Hooray!">Hover over me</a>
        </div>
    {{/inline}}

    {{#*inline "jQuery"}}
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
    {{/inline}}

    {{#*inline "scripts"}}
        <script>
            // Without jQuery
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new materialstyle.Tooltip(tooltipTriggerEl)
            })

            // With jQuery
            // $(function(){
            //   $('[data-toggle="tooltip"]').tooltip();
            // });
        </script>
    {{/inline}}

{{/"layouts/layout"}}
