{{#> "layouts/layout" }}

  {{#*inline "content"}}
    <h1 class="m-3">Tooltip</h1>

    <div class="m-3">
      <a href="#" data-bs-toggle="tooltip" title="Hooray!">Hover over me</a>
    </div>

    <div class="m-3">
      <button type="button" class="btn btn-purple" data-bs-toggle="tooltip" data-bs-placement="right"
              title="Tooltip on right">
        Tooltip on right
      </button>
    </div>

    <div class="m-3">
      <button type="button" class="btn btn-purple" data-bs-toggle="tooltip" data-bs-html="true"
              title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
        Tooltip with HTML
      </button>
    </div>

    <div class="m-3">
      <a href="#" class="d-inline-block" data-bs-toggle="tooltip" title="" data-bs-original-title="Default tooltip">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 100 100">
          <rect width="100%" height="100%" fill="#563d7c"></rect>
          <circle cx="50" cy="50" r="30" fill="#007bff"></circle>
        </svg>
      </a>
    </div>
  {{/inline}}

  {{#*inline "jQuery"}}
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
  {{/inline}}

  {{#*inline "scripts"}}
    <script>
      // Without jQuery
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new materialstyle.Tooltip(tooltipTriggerEl)
      })

      // With jQuery
      // $(function () {
      //     $('[data-bs-toggle="tooltip"]').tooltip();
      // });
    </script>
  {{/inline}}

{{/"layouts/layout"}}
