{{- /*
  Usage: `example args`

  `args` are all optional and can be one of the following:
    * id: the `div`'s id - default: ""
    * class: any extra class(es) to be added to the `div` - default: ""
    * show_preview: if the preview should be output in the HTML - default: `true`
    * show_markup: if the markup should be output in the HTML - default: `true`
*/ -}}

{{- $id := .Get "id" -}}
{{- $class := .Get "class" -}}
{{- $lang := .Get "lang" | default "html" -}}
{{- $show_preview := .Get "show_preview" | default true -}}
{{- $show_markup := .Get "show_markup" | default true -}}
{{- $input := .Inner -}}

{{- $codeId := .Get "codeId" -}}

{{- $input := split $input "##split##" -}}

<div class="border mb-4 rounded-3">
  {{- if eq $show_preview true -}}
    <div{{ with $id }} id="{{ . }}"{{ end }} class="p-4{{ with $class }} {{ . }}{{ end }}">
      {{- range $input }}
        {{- . | safeHTML -}}
      {{- end -}}
    </div>
  {{- end -}}

  <div class="d-flex justify-content-end">
    <btn class="btn btn-sm btn-outline-purple border-0 rounded-0 d-flex align-items-center" data-bs-toggle="collapse" {{ with $codeId }} href="#{{ . }}" {{ end }}>
      <i class="bi bi-code-slash fs-5 me-1"></i> CODE
    </btn>
  </div>

  <div class="collapse" {{ with $codeId }} id="{{ . }}" {{ end }}>
    {{- if eq $show_markup true -}}
      {{- range $input }}
        {{- $content := replaceRE `<svg class="bd-placeholder-img(?:-lg)?(?: *?bd-placeholder-img-lg)? ?(.*?)".*?<\/svg>\n` `<img src="..." class="$1" alt="...">` . | safeHTML -}}
        {{- $content = replaceRE ` (class=" *?")` "" $content -}}
        {{- highlight (trim $content "\n") $lang "" -}}
      {{- end -}}
    {{- end -}}
  </div>
</div>
