@import "node_modules/bootstrap/scss/forms/form-check";

.form-check-input:checked[type="radio"] {
  background-color: #fff;
}

.form-switch.form-switch-square {
  .form-check-input {
    background-image: escape-svg($form-switch-square-bg-image);
    border-radius: 0;

    &:focus {
      background-image: escape-svg($form-switch-square-focus-bg-image);
    }

    &:checked {
      @if $enable-gradients {
        background-image: escape-svg($form-switch-square-checked-bg-image), var(--bs-gradient);
      } @else {
        background-image: escape-svg($form-switch-square-checked-bg-image);
      }
    }
  }
}

.form-switch.form-switch-material {
  .form-check-input {
    position: relative;
    height: .8em;
    margin-top: .35em;
    background-image: none;
    box-shadow: none;

    &::before {
      position: absolute;
      top: -.35em;
      left: -.15em;
      width: 1.25em;
      height: 1.25em;
      content: "";
      background-color: #dfdfdf;
      border-radius: 50%;
      transition: left 90ms cubic-bezier(.4, 0, .2, 1), background-color 90ms cubic-bezier(.4, 0, .2, 1), border-color 90ms cubic-bezier(.4, 0, .2, 1);
    }

    &:focus {
      &::before {
        background-color: $form-switch-focus-color;
        box-shadow: 0 0 0 .3em $input-btn-focus-color;
      }
    }

    &:checked {
      background-color: $form-switch-focus-color;
      border-color: $form-switch-focus-color;

      &::before {
        left: .65em;
        background-color: $form-check-input-checked-bg-color;
      }
    }
  }
}

