@import "node_modules/bootstrap/scss/forms/input-group";

.input-group {
  display: block;

  .input-group-text {
    top: 0;
    position: absolute;
    pointer-events: none;

    &.prepend {
      left: 0;
    }

    &.append {
      right: 0;
    }
  }

  > .form-floating {
    .form-control, .dropdown {
      ~ label {
        left: var(--prepend-width, 0);
      }
    }

    > .m-notch {
      > .m-notch-between > label {
        transform: translateX(calc(var(--prepend-width, calc(0.75rem + 5px)) - (0.75rem + 5px)));
      }
    }
  }
}
