@import "node_modules/bootstrap/scss/forms/input-group";

// stylelint-disable selector-max-compound-selectors
.input-group {
  display: block;

  .input-group-text {
    position: absolute;
    top: 0;
    padding: 1rem .75rem;
    pointer-events: none;

    &.prepend {
      left: 0;
    }

    &.append {
      right: 0;
    }
  }

  > .form-floating {
    .form-control,
    .dropdown {
      ~ label {
        left: var(--prepend-width, 0);
      }
    }

    > .m-notch {
      > .m-notch-between > label {
        transform: translateX(calc(var(--prepend-width, calc(.75rem + 5px)) - (.75rem + 5px)));
      }
    }
  }
}
// stylelint-enable selector-max-compound-selectors
