@import "node_modules/bootstrap/scss/forms/validation";

.was-validated {
  .form-floating {
    .form-control, .form-select {
      &:valid, &.is-valid {
        background-position: right var(--append-width, $input-height-inner-quarter) center;
        padding-right: calc($input-height-inner + var(--append-width, 0px));

        &:focus {
          box-shadow: none;
        }

        ~ label {
          color: $success;
        }

        ~ .m-line-ripple {
          background-image: linear-gradient($success, $success), linear-gradient($success, $success);
        }

        ~ .dropdown .dropdown-toggle {
          padding-right: calc($form-select-feedback-icon-padding-end + var(--append-width, 0px));
          background-image: escape-svg($form-select-indicator), escape-svg($form-feedback-icon-valid);
          background-position: right var(--append-width, $form-select-padding-x) center, center right calc(var(--append-width, $form-select-padding-x) + $form-select-indicator-padding - 16px);
          background-size: $form-select-bg-size, $form-select-feedback-icon-size;
          background-repeat: no-repeat;
        }
      }

      &:invalid, &.is-invalid {
        background-position: right var(--append-width, $input-height-inner-quarter) center;
        padding-right: calc($input-height-inner + var(--append-width, 0px));

        &:focus {
          box-shadow: none;
        }

        ~ label {
          color: $danger;
        }

        ~ .m-line-ripple {
          background-image: linear-gradient($danger, $danger), linear-gradient($danger, $danger);
        }

        ~ .dropdown .dropdown-toggle {
          padding-right: calc($form-select-feedback-icon-padding-end + var(--append-width, 0px));
          background-image: escape-svg($form-select-indicator), escape-svg($form-feedback-icon-invalid);
          background-position: right var(--append-width, $form-select-padding-x) center, center right calc(var(--append-width, $form-select-padding-x) + $form-select-indicator-padding - 16px);
          background-size: $form-select-bg-size, $form-select-feedback-icon-size;
          background-repeat: no-repeat;
        }
      }
    }

    &--outlined {
      .form-control, .form-select {
        &:valid, &.is-valid {
          ~ .m-notch > .m-notch-between > label {
            color: $success;
          }

          ~ .m-notch {
            > .m-notch-before,
            > .m-notch-between,
            > .m-notch-after {
              border-color: $success;
            }
          }
        }

        &:invalid, &.is-invalid {
          ~ .m-notch > .m-notch-between > label {
            color: $danger;
          }

          ~ .m-notch {
            > .m-notch-before,
            > .m-notch-between,
            > .m-notch-after {
              border-color: $danger;
            }
          }
        }
      }
    }
  }
}
