@import "node_modules/bootstrap/scss/card";

// "Card Outline" variant
@each $color, $value in $theme-colors {
  .card-outline-#{$color} {
    border: 1px solid $value !important;
  }
}

.card {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);

  .card-title {
    font-weight: 400;
  }
  .card-text {
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
  }

  .card-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;

    .card-buttons,
    .card-icons {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .card-img-top {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
}
