.drawer {
  box-shadow: map-get($elevations, 4 dp) !important;
  transition: left .2s cubic-bezier(.4, 0, .2, 1) .2s;
  height: 100%;
  top: 0;
  left: -350px;
  width: 250px;
  background: #fff;
  z-index: 1031;
  overflow-y: auto;
  position: fixed;

  .nav {
    width: 100%;
  }
  .drawer-brand {
    padding: .5rem 1rem;
  }
  .nav-link.active {
    color: map-get($theme-colors, blue) !important;
  }
  &.--visible {
    flex: 0 0 250px;
    top: auto;
    height: auto;
    z-index: 1029;
    min-width: 250px;
    left: 0;
    position: relative;

    ~ .ms-nav .drawer-toggle,
    ~ .drawer-toggle,
    .nav-close-btn {
      display: none;
    }

    &.--fixed {
      .ms-fixed {
        position: fixed;
        height: 100%;
        width: 250px;
        overflow: auto;
      }
    }
  }

  .sub-menu-container {
    overflow: hidden;
  }

  .sub-menu-link > .material-icons {
    float: right;
  }

  .sub-menu {
    transition: all .2s ease;
    margin-top: -2000px;
    padding-left: 20px;
  }

  .nav-close-btn {
    float: right;
    cursor: pointer;
  }
}

.drawer-toggle {
  cursor: pointer;
  padding: 0 15px 0 5px;
}

#ms-shade {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}
