.ms-ripple {
  background: #FFF;
  border-radius: 50%;
  display: block;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  transform: scale(0);
}

.ms-ripple.animate {
  animation: ripple .3s linear forwards;
}

@keyframes ripple {
  100% {
    opacity: 0.25;
    transform: scale(2);
  }
}
