.ms-shape-container {
  display: inline-block;
  position: relative;
  overflow: hidden;
  visibility: hidden;
  vertical-align: middle;

  *:not(.ms-ripple), *:not(.ms-ripple):hover {
    box-shadow: none;
    border-radius: 0;
    outline: none;
  }

  .angle-top-left, .angle-top-right, .angle-bottom-left, .angle-bottom-right {
    width: 8px;
    height: 8px;
    background: #fff;
    position: absolute;
    z-index: 10;
  }

  .angle-top-left {
    transform: rotate(-45deg);
    top: -4px;
    left: -4px;
  }

  .angle-top-right {
    transform: rotate(45deg);
    top: -4px;
    right: -4px;
  }

  .angle-bottom-left {
    transform: rotate(-135deg);
    bottom: -4px;
    left: -4px;
  }

  .angle-bottom-right {
    transform: rotate(135deg);
    bottom: -4px;
    right: -4px;
  }
}
