@each $color, $value in $theme-colors {
  .nav-tabs.accent-#{$color} .nav-link.active,
  .nav-tabs.primary-#{$color} .nav-link:not(.active) {
    color: $value !important;
  }

  .nav-tabs.accent-#{$color} {
    .active-indicator, .ms-ripple {
      background-color: $value !important;
    }
  }
}

.nav-tabs {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  visibility: hidden;
  border-bottom: 1px solid map-get($material-colors, "grey-200") !important;

  &.icon-top {
    .nav-link {
      flex-direction: column;
    }
  }

  &.append {
    .nav-link {
      flex-direction: row-reverse;
    }
  }

  &.icon-bottom {
    .nav-link {
      flex-direction: column-reverse;
    }
  }

  &.prepend {
    .nav-link {
      flex-direction: row;
    }
  }

  .nav-item {
    margin: 0;
    position: relative;


    .nav-link {
      font-size: .875rem;
      font-family: "Roboto",sans-serif;
      line-height: 2.25rem;
      font-weight: 500;
      letter-spacing: .08929em;
      color: map-get($material-colors, "grey-900");
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      position: relative;
      outline: none;
      box-shadow:none;
      border: 0;
      text-transform: uppercase;

      .ms-ripple {
        background: theme-color("primary");
      }

      &.active {
        border: 0;
        color: theme-color("primary");
        background: transparent;

        + .active-indicator {
          opacity: 1;
        }
      }

      &.focus, &:focus {
        background-color: map-get($material-colors, "grey-100");
      }

      .material-icons {
        margin: 5px;
      }
    }
    &:hover {
      border: 0;
      background-color: map-get($material-colors, "grey-200");
      border-radius: 2px;
    }
  }

  .active-indicator {
    position: absolute;
    z-index: 10;
    bottom: 0;
    height: 2px;
    background: theme-color("primary");
    display: block;
    left: 0;
    transition: left .2s ease;
  }
}
